@font-face {
  font-family: 'abcicon';
  src:  url('../fonts/abcicon.eot?37yrw4');
  src:  url('../fonts/abcicon.eot?37yrw4#iefix') format('embedded-opentype'),
    url('../fonts/abcicon.ttf?37yrw4') format('truetype'),
    url('../fonts/abcicon.woff?37yrw4') format('woff'),
    url('../fonts/abcicon.svg?37yrw4#abcicon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'abcicon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-laptop:before {
  content: "\e001";
}
.icon-desktop2:before {
  content: "\e002";
}
.icon-tablet:before {
  content: "\e003";
}
.icon-phone:before {
  content: "\e004";
}
.icon-camera:before {
  content: "\e012";
}
.icon-printer:before {
  content: "\e013";
}
.icon-wallet:before {
  content: "\e016";
}
.icon-basket:before {
  content: "\e027";
}
.icon-tools-2:before {
  content: "\e034";
}
.icon-bike:before {
  content: "\e042";
}
.icon-facebook:before {
  content: "\e05d";
}
.icon-twitter2:before {
  content: "\e05e";
}
.icon-googleplus:before {
  content: "\e05f";
}
.icon-rss:before {
  content: "\e060";
}
.icon-tumblr:before {
  content: "\e061";
}
.icon-linkedin:before {
  content: "\e062";
}
.icon-dribbble2:before {
  content: "\e063";
}
.icon-quote:before {
  content: "\e900";
}
.icon-quote2:before {
  content: "\e901";
}
.icon-phone2:before {
  content: "\e902";
}
.icon-window:before {
  content: "\e903";
}
.icon-monitor:before {
  content: "\e904";
}
.icon-ipod:before {
  content: "\e905";
}
.icon-camera2:before {
  content: "\e906";
}
.icon-film:before {
  content: "\e907";
}
.icon-film2:before {
  content: "\e908";
}
.icon-drink:before {
  content: "\e909";
}
.icon-cog:before {
  content: "\e90a";
}
.icon-time:before {
  content: "\e90b";
}
.icon-chart:before {
  content: "\e90c";
}
.icon-gamepad:before {
  content: "\e90d";
}
.icon-mouse:before {
  content: "\e90e";
}
.icon-lamp:before {
  content: "\e90f";
}
.icon-lamp2:before {
  content: "\e910";
}
.icon-comments:before {
  content: "\e911";
}
.icon-justice:before {
  content: "\e912";
}
.icon-stats:before {
  content: "\e913";
}
.icon-pig:before {
  content: "\e914";
}
.icon-heart2:before {
  content: "\e915";
}
.icon-shipping:before {
  content: "\e916";
}
.icon-heart3:before {
  content: "\e917";
}
.icon-star2:before {
  content: "\e918";
}
.icon-user2:before {
  content: "\e919";
}
.icon-search2:before {
  content: "\e91a";
}
.icon-settings:before {
  content: "\e91b";
}
.icon-camera3:before {
  content: "\e91c";
}
.icon-lock:before {
  content: "\e91d";
}
.icon-display:before {
  content: "\e91e";
}
.icon-location3:before {
  content: "\e91f";
}
.icon-eye2:before {
  content: "\e920";
}
.icon-bubble:before {
  content: "\e921";
}
.icon-phone3:before {
  content: "\e922";
}
.icon-mail:before {
  content: "\e923";
}
.icon-clock2:before {
  content: "\e924";
}
.icon-paperplane:before {
  content: "\e925";
}
.icon-banknote:before {
  content: "\e926";
}
.icon-shop:before {
  content: "\e927";
}
.icon-calendar:before {
  content: "\e928";
}
.icon-wallet2:before {
  content: "\e929";
}
.icon-truck2:before {
  content: "\e92a";
}
.icon-world:before {
  content: "\e92b";
}
.icon-loop:before {
  content: "\e92c";
}
.icon-loop-alt2:before {
  content: "\e92d";
}
.icon-loop-alt3:before {
  content: "\e92e";
}
.icon-lock-stroke:before {
  content: "\e92f";
}
.icon-search3:before {
  content: "\e930";
}
.icon-envelope2:before {
  content: "\e931";
}
.icon-compose:before {
  content: "\e932";
}
.icon-envelope3:before {
  content: "\e933";
}
.icon-cart2:before {
  content: "\e934";
}
.icon-monitor2:before {
  content: "\e935";
}
.icon-headphones:before {
  content: "\e936";
}
.icon-gift:before {
  content: "\e937";
}
.icon-book:before {
  content: "\e938";
}
.icon-cart:before {
  content: "\e93a";
}
.icon-credit-card:before {
  content: "\e93f";
}
.icon-lifebuoy:before {
  content: "\e941";
}
.icon-address-book:before {
  content: "\e944";
}
.icon-location:before {
  content: "\e947";
}
.icon-location2:before {
  content: "\e948";
}
.icon-map2:before {
  content: "\e94c";
}
.icon-clock:before {
  content: "\e94e";
}
.icon-user:before {
  content: "\e971";
}
.icon-stats-bars:before {
  content: "\e99c";
}
.icon-sphere:before {
  content: "\e9c9";
}
.icon-eye:before {
  content: "\e9ce";
}
.icon-checkmark:before {
  content: "\ea10";
}
.icon-checkmark2:before {
  content: "\ea11";
}
.icon-pause:before {
  content: "\ea16";
}
.icon-loop2:before {
  content: "\ea2e";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-vimeo:before {
  content: "\eaa0";
}
.icon-flickr:before {
  content: "\eaa3";
}
.icon-dribbble:before {
  content: "\eaa7";
}
.icon-behance:before {
  content: "\eaa8";
}
.icon-linkedin2:before {
  content: "\eaca";
}
.icon-pinterest:before {
  content: "\ead1";
}
.icon-pinterest2:before {
  content: "\ead2";
}
.icon-truck3:before {
  content: "\e939";
}
.icon-star3:before {
  content: "\e93b";
}
.icon-lock-closed:before {
  content: "\e93c";
}
.icon-arrow-sync:before {
  content: "\e93d";
}
.icon-arrow-shuffle:before {
  content: "\e93e";
}
.icon-arrow-repeat:before {
  content: "\e940";
}
.icon-home-outline:before {
  content: "\e942";
}
.icon-location-outline:before {
  content: "\e943";
}
.icon-star-outline:before {
  content: "\e945";
}
.icon-mail2:before {
  content: "\e946";
}
.icon-heart-outline:before {
  content: "\e949";
}
.icon-lock-closed-outline:before {
  content: "\e94a";
}
.icon-eye-outline:before {
  content: "\e94b";
}
.icon-camera-outline:before {
  content: "\e94d";
}
.icon-support:before {
  content: "\e94f";
}
.icon-tag:before {
  content: "\e950";
}
.icon-edit:before {
  content: "\e951";
}
.icon-contacts:before {
  content: "\e952";
}
.icon-credit-card3:before {
  content: "\e953";
}
.icon-coffee:before {
  content: "\e954";
}
.icon-tree:before {
  content: "\e955";
}
.icon-shopping-cart:before {
  content: "\e956";
}
.icon-card_travel:before {
  content: "\e8f8";
}
.icon-date_range:before {
  content: "\e957";
}
.icon-done_all:before {
  content: "\e877";
}
.icon-markunread:before {
  content: "\e159";
}
.icon-equalizer:before {
  content: "\e01d";
}
.icon-favorite:before {
  content: "\e87d";
}
.icon-favorite_border:before {
  content: "\e87e";
}
.icon-headset_mic:before {
  content: "\e311";
}
.icon-help_outline:before {
  content: "\e8fd";
}
.icon-lock2:before {
  content: "\e897";
}
.icon-laptop_mac:before {
  content: "\e320";
}
.icon-linked_camera:before {
  content: "\e438";
}
.icon-shopping_cart:before {
  content: "\e8cc";
}
.icon-local_mall:before {
  content: "\e54c";
}
.icon-local_shipping:before {
  content: "\e558";
}
.icon-lock_outline:before {
  content: "\e899";
}
.icon-mail_outline:before {
  content: "\e0e1";
}
.icon-phone_in_talk:before {
  content: "\e61d";
}
.icon-visibility:before {
  content: "\e8f4";
}
.icon-repeat:before {
  content: "\e040";
}
.icon-settings_phone:before {
  content: "\e8c5";
}
.icon-sort:before {
  content: "\e164";
}
.icon-subject:before {
  content: "\e8d2";
}
.icon-verified_user:before {
  content: "\e8e8";
}
.icon-align-center:before {
  content: "\e958";
}
.icon-align-justify:before {
  content: "\e959";
}
.icon-align-left:before {
  content: "\e95a";
}
.icon-align-right:before {
  content: "\e95b";
}
.icon-aperture:before {
  content: "\e95c";
}
.icon-bar-chart:before {
  content: "\e95d";
}
.icon-bar-chart-2:before {
  content: "\e95e";
}
.icon-briefcase:before {
  content: "\e95f";
}
.icon-calendar2:before {
  content: "\e960";
}
.icon-camera4:before {
  content: "\e961";
}
.icon-credit-card4:before {
  content: "\e962";
}
.icon-database:before {
  content: "\e963";
}
.icon-edit2:before {
  content: "\e964";
}
.icon-eye3:before {
  content: "\e965";
}
.icon-facebook2:before {
  content: "\e966";
}
.icon-gift2:before {
  content: "\e967";
}
.icon-headphones2:before {
  content: "\e968";
}
.icon-heart4:before {
  content: "\e969";
}
.icon-help-circle:before {
  content: "\e96a";
}
.icon-home2:before {
  content: "\e96b";
}
.icon-instagram2:before {
  content: "\e96c";
}
.icon-life-buoy:before {
  content: "\e96d";
}
.icon-linkedin3:before {
  content: "\e96e";
}
.icon-list:before {
  content: "\e96f";
}
.icon-lock3:before {
  content: "\e970";
}
.icon-mail3:before {
  content: "\e972";
}
.icon-map:before {
  content: "\e973";
}
.icon-map-pin:before {
  content: "\e974";
}
.icon-menu:before {
  content: "\e975";
}
.icon-message-circle:before {
  content: "\e976";
}
.icon-minus:before {
  content: "\e977";
}
.icon-minus-circle:before {
  content: "\e978";
}
.icon-monitor3:before {
  content: "\e979";
}
.icon-percent:before {
  content: "\e97a";
}
.icon-phone4:before {
  content: "\e97b";
}
.icon-phone-call:before {
  content: "\e97c";
}
.icon-phone-forwarded:before {
  content: "\e97d";
}
.icon-phone-incoming:before {
  content: "\e97e";
}
.icon-phone-outgoing:before {
  content: "\e97f";
}
.icon-pie-chart:before {
  content: "\e980";
}
.icon-play-circle:before {
  content: "\e981";
}
.icon-plus:before {
  content: "\e982";
}
.icon-plus-circle:before {
  content: "\e983";
}
.icon-pocket:before {
  content: "\e984";
}
.icon-power:before {
  content: "\e985";
}
.icon-printer2:before {
  content: "\e986";
}
.icon-refresh-ccw:before {
  content: "\e987";
}
.icon-refresh-cw:before {
  content: "\e988";
}
.icon-repeat2:before {
  content: "\e989";
}
.icon-rotate-ccw:before {
  content: "\e98a";
}
.icon-rss2:before {
  content: "\e98b";
}
.icon-search4:before {
  content: "\e98c";
}
.icon-send:before {
  content: "\e98d";
}
.icon-settings2:before {
  content: "\e98e";
}
.icon-shopping-bag:before {
  content: "\e98f";
}
.icon-shopping-cart2:before {
  content: "\e990";
}
.icon-speaker:before {
  content: "\e991";
}
.icon-star4:before {
  content: "\e992";
}
.icon-thumbs-up:before {
  content: "\e993";
}
.icon-trash-2:before {
  content: "\e994";
}
.icon-truck4:before {
  content: "\e995";
}
.icon-tv:before {
  content: "\e996";
}
.icon-twitter3:before {
  content: "\e997";
}
.icon-umbrella:before {
  content: "\e998";
}
.icon-unlock:before {
  content: "\e999";
}
.icon-user3:before {
  content: "\e99a";
}
.icon-users:before {
  content: "\e99b";
}
.icon-volume-1:before {
  content: "\e99d";
}
.icon-watch:before {
  content: "\e99e";
}
.icon-x:before {
  content: "\e99f";
}
.icon-x-circle:before {
  content: "\e9a0";
}
.icon-youtube:before {
  content: "\e9a1";
}
.icon-zoom-in:before {
  content: "\e9a2";
}
.icon-search:before {
  content: "\f002";
}
.icon-envelope-o:before {
  content: "\f003";
}
.icon-heart:before {
  content: "\f004";
}
.icon-star:before {
  content: "\f005";
}
.icon-star-o:before {
  content: "\f006";
}
.icon-home:before {
  content: "\f015";
}
.icon-heart-o:before {
  content: "\f08a";
}
.icon-credit-card2:before {
  content: "\f09d";
}
.icon-truck:before {
  content: "\f0d1";
}
.icon-envelope:before {
  content: "\f0e0";
}
.icon-desktop:before {
  content: "\f108";
}
.icon-paper-plane-o:before {
  content: "\f1d9";
}
.icon-send-o:before {
  content: "\f1d9";
}
.icon-cc-visa:before {
  content: "\f1f0";
}
.icon-cc-mastercard:before {
  content: "\f1f1";
}
.icon-cc-discover:before {
  content: "\f1f2";
}
.icon-cc-amex:before {
  content: "\f1f3";
}
.icon-cc-paypal:before {
  content: "\f1f4";
}
.icon-cc-stripe:before {
  content: "\f1f5";
}
.icon-user-circle:before {
  content: "\f2bd";
}
.icon-user-circle-o:before {
  content: "\f2be";
}
.icon-user-o:before {
  content: "\f2c0";
}
.icon-chevron-down:before {
  content: "\e9a3";
}
.icon-chevron-left:before {
  content: "\e9a4";
}
.icon-chevron-right:before {
  content: "\e9a5";
}
.icon-chevron-thin-down:before {
  content: "\e9a6";
}
.icon-chevron-thin-left:before {
  content: "\e9a7";
}
.icon-chevron-thin-right:before {
  content: "\e9a8";
}
.icon-chevron-thin-up:before {
  content: "\e9a9";
}
.icon-chevron-up:before {
  content: "\e9aa";
}
.icon-chevron-with-circle-left:before {
  content: "\e9ab";
}
.icon-chevron-with-circle-right:before {
  content: "\e9ac";
}
.icon-heart-outlined:before {
  content: "\e9ad";
}
.icon-lifebuoy2:before {
  content: "\e9ae";
}
.icon-list2:before {
  content: "\e9af";
}
.icon-menu2:before {
  content: "\e9b0";
}
.icon-old-mobile:before {
  content: "\e9b1";
}
.icon-shopping-bag2:before {
  content: "\e9b2";
}
.icon-shopping-basket:before {
  content: "\e9b3";
}
.icon-wallet3:before {
  content: "\e9b4";
}
.icon-google:before {
  content: "\e9b5";
}
.icon-add-outline:before {
  content: "\e9b6";
}
.icon-arrow-down:before {
  content: "\e9b7";
}
.icon-arrow-left:before {
  content: "\e9b8";
}
.icon-arrow-right:before {
  content: "\e9b9";
}
.icon-arrow-thin-up:before {
  content: "\e9ba";
}
.icon-chart-bar:before {
  content: "\e9bb";
}
.icon-cog2:before {
  content: "\e9bc";
}
.icon-copy:before {
  content: "\e9bd";
}
.icon-credit-card5:before {
  content: "\e9be";
}
.icon-envelope4:before {
  content: "\e9bf";
}
.icon-indent-increase:before {
  content: "\e9c0";
}
.icon-keyboard:before {
  content: "\e9c1";
}
.icon-list3:before {
  content: "\e9c2";
}
.icon-location-shopping:before {
  content: "\e9c3";
}
.icon-search5:before {
  content: "\e9c4";
}
.icon-shopping-cart3:before {
  content: "\e9c5";
}
.icon-shuffle:before {
  content: "\e9c6";
}
.icon-tablet2:before {
  content: "\e9c7";
}
.icon-user-solid-circle:before {
  content: "\e9c8";
}
.icon-view-show:before {
  content: "\e9ca";
}
.icon-wallet4:before {
  content: "\e9cb";
}
.icon-watch2:before {
  content: "\e9cc";
}
.icon-write:before {
  content: "\e9cd";
}
.icon-clock3:before {
  content: "\e9cf";
}
.icon-forward:before {
  content: "\e9d0";
}
.icon-search6:before {
  content: "\e9d1";
}
.icon-trash:before {
  content: "\e9d2";
}
.icon-envelope5:before {
  content: "\e9d3";
}
.icon-user4:before {
  content: "\e9d4";
}
.icon-sound:before {
  content: "\e9d5";
}
.icon-camera5:before {
  content: "\e9d6";
}
.icon-image:before {
  content: "\e9d7";
}
.icon-cog3:before {
  content: "\e9d8";
}
.icon-book2:before {
  content: "\e9d9";
}
.icon-map-marker:before {
  content: "\e9da";
}
.icon-support2:before {
  content: "\e9db";
}
.icon-tag2:before {
  content: "\e9dc";
}
.icon-heart5:before {
  content: "\e9dd";
}
.icon-cart3:before {
  content: "\e9de";
}
.icon-eye4:before {
  content: "\e9df";
}
.icon-chart2:before {
  content: "\e9e0";
}
.icon-bookmark:before {
  content: "\e9e1";
}
.icon-cross:before {
  content: "\e9e2";
}
.icon-plus2:before {
  content: "\e9e3";
}
.icon-windows:before {
  content: "\e9e4";
}
.icon-switch:before {
  content: "\e9e5";
}
.icon-refresh:before {
  content: "\e9e6";
}
.icon-film3:before {
  content: "\e9e7";
}
