/* Global style of theme */
a,
input,
button {
    outline: none;
}
.count-down {
    display: none;
}
.container-fluid {
    padding: 0;
}
/* FRONT PAGE
-----------------------------*/
/* title */
.heading-title {
    margin-bottom: 35px;
    &.style1 {
        text-align: center;
        h3 {
            font-size: 2.142em;
            line-height: 1.2;
            text-transform: uppercase;
            font-weight: 500;
        }
        p {
            max-width: 550px;
            margin:auto;
        }
        img {
            margin-top: 25px;
        }
    }
    &.style2 {
        font-weight: 500;
        margin-bottom: 30px;
        text-align: left;
        position:relative;
        &:After{
            content: "";
            height: 2px;
            width: 45px;
            background: @primarycolor;
            display: block;
            margin: 20px 0 0;
        }
        h3 {
            font-size: 1.281em;
            color:#fff;
            font-weight: 500;
            line-height: 1.2;
            margin-bottom: 5px;
            text-transform: uppercase;
        }
    }
    &.style3 {
        margin-bottom: 40px;
        background: #ebebeb;
        .heading-title-inner{
            h3{
                position: relative;
                display: inline-block;
                min-width: 360px;
                background: @primarycolor;
                color: #fff;
                text-transform: uppercase;
                font-weight: 500;
                margin: 0;
                margin-right: 50px;
                font-size: 20px;
                letter-spacing: 1px;
                &:before{
                    content: "\f1da";
                    font: normal normal normal 28px/1 FontAwesome;
                    display: inline-block;
                    vertical-align: middle;
                    font-weight: 500;
                    line-height: 60px;
                    margin-left: 30px;
                    margin-right: 10px;
                }
                &:After{
                    content: "";
                    position: absolute;
                    right: -25px;
                    top: 0;
                    width: 0;
                    height: 0;
                    visibility: visible;
                    border-top: 60px solid @primarycolor;
                    border-right: 25px solid transparent;
                }
            }
            p{
                display: inline-block;
                color: #333;
                font-size: 20px;
                margin: 0;
            }
        }
    }
    &.style4 {
        margin-bottom: 0;
        background:@primarycolor;
        h3 {
            color: #fff;
            font-size: 1.28rem;
            font-weight: 500;
            line-height: 1.2;
            margin-bottom: 0;
            text-transform: uppercase;
            &:before{
                content: "\f1da";
                font: normal normal normal 28px/1 FontAwesome;
                display: inline-block;
                vertical-align: middle;
                font-weight: 500;
                line-height: 60px;
                margin-left: 30px;
                margin-right: 10px;
            }
            span{
                display: inline-block;
                vertical-align: middle;
            }
        }
        p {
            margin-top: 10px;
        }
    }
    &.style5 {
        text-align: center;
        h3 {
            font-size: 30px;
            line-height: 1.2;
            text-transform: capitalize;
            font-weight: 500;
        }
        p {
            max-width: 550px;
            margin:auto;
        }
        img {
            margin-top: 25px;
        }
    }
    &.style6 {
        margin-bottom: 40px;
        text-align: left;
        h3 {
            color: @darkcolor;
            font-size: 1.285em;
            font-weight: 500;
            line-height: 1.2;
            margin-bottom: 0;
        }
        p {
            margin-top: 10px;
        }
    }
    &.style7 {
        h3 {
            font-size: 1.667em;
            font-weight: 500;
            line-height: 1.2;
            margin-bottom: 5px;
            position: relative;
            span {
                background: @pagecontentbg;
                display: inline-block;
                padding-right: 30px;
                position: relative;
                z-index: 5;
            }
            &:after {
                background: @bordercolor;
                content: '';
                display: block;
                height: 1px;
                position: absolute;
                top: 50%;
                width: 100%;
                z-index: 2;
            }
        }
    }
}
.heading-title-home3{
    .style1{
        margin-bottom: 20px; 
        text-align: left;
        h3{
            font-weight: 500;
            font-size: 48px;
            line-height: 1;
            text-transform: uppercase;
            margin-top: 90px;
        }
    }
    p{
        line-height: 22px;
    }
    p{
        .buttom{
            border:2px solid @bordercolor;
            border-radius: 3px;
            max-width: 300px;
            width: 100%;
            display: inline-block;
            color: #333;
            height: 55px;
            line-height: 55px;
            text-align: center;
            &:hover{
                background:@primarycolor;
                border-color:@primarycolor;
            }
        }
    }
}
.logo.style1{
    max-height: 65px;
}
.fancybox-title {
    font-family: @bodyfont;
    font-size: 1em;
}
.fancybox-social {
    display: inline-block;
    float: right;
    text-align: right;
}
.widget_wysija {
    position: relative;
}
.formError {
    left: 0 !important;
    top: 100% !important;
}
.jicotip {
    background: #4c4c4c;
    color: #fff;
    display: block;
    float: left;
    font-size: .856*@textsize;
    font-weight: normal;
    left: 0;
    letter-spacing: .05em;
    line-height: 2;
    padding: 4px 14px;
    position: absolute;
    text-transform: none;
    top: -45px;
    white-space: nowrap;
    width: auto;
    z-index: 105;
    &:after {
        background: none;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 6px solid @darkcolor;
        bottom: -6px;
        content: '';
        display: block;
        height: 0;
        left: 50%;
        margin-left: -5px;
        position: absolute;
        width: 0;
        .transform(none);
    }
}
/* CAROUSEL
-----------------------------*/
.owl-carousel {
    margin-bottom: 35px;
    position: relative;
    z-index: 105;
    &:hover {
        .owl-nav {
            button.owl-prev,
            button.owl-next {
                .opacity(1);
            }
        }
    }
    .owl-nav {
        button.owl-prev,
        button.owl-next {
            background: @white;
            border: 1px solid @bordercolor;
            cursor: pointer;
            display: inline-block;
            font-size: 0;
            height: 45px;
            line-height: 43px;
            outline: none;
            position: absolute;
            top: 50%;
            vertical-align: middle;
            width: 45px;
            z-index: 9;
            .opacity(0);
            .transition(.2s ease);
            .border-radius(100%);
            .transform(translateY(-50%));
            &:before {
                color: #888888;
                display: inline-block;
                font-family: 'Linearicons-Free';
                font-size: 20px;
                .transition(.2s ease);
            }
            &:not(.disabled) {
                &:hover {
                    background: @primarycolor;
                    border-color: @primarycolor;
                    &:before {
                        color: @darkcolor;
                    }
                }
            }
            &.disabled {
                cursor: auto;
            }
        }
        button.owl-prev {
            left: 0;
            right: auto;
            &:before {
                content: '\e875';
            }
        }
        button.owl-next {
            left: auto;
            right: 0;
            &:before {
                content: '\e876';
            }
        }
    }
    .owl-dots {
        line-height: 1;
        margin: 35px 0 0 0;
        padding: 0;
        text-align: center;
        width: 100%;
        .owl-dot {
            background: transparent;
            cursor: pointer;
            display: inline-block;
            height: 14px;
            line-height: 15px;
            margin: 0 3px;
            outline: none;
            text-align: center;
            vertical-align: top;
            width: 14px;
            .border-radius(100%);
            .transition(.2s ease);
            display: none;
            &:before {
                background:0;
                border: 1px solid @primarycolor;
                content: '';
                display: inline-block;
                height: 10px;
                width: 10px;
                .border-radius(20px);
                .transition(.2s ease);
            }
            &:hover,
            &.active {
                width: 30px;
                &:before {
                    background:@primarycolor;
                    width: 100%;
                }
            }
            span {
                display: none;
            }
        }
    }
}
.roadthemes-slider.navigation-style2 {
    .owl-nav {
        background: @pagecontentbg;
        left: auto;
        position: absolute;
        right: 0;
        top: -@carouseltoprightposition;
        z-index: 19;
        button.owl-prev,
        button.owl-next {
            background: transparent;
            border: 1px solid @bordercolor;
            cursor: pointer;
            display: inline-block;
            font-size: 0;
            height: 38px;
            line-height: 36px;
            outline: none;
            position: static;
            vertical-align: middle;
            width: 38px;
            .opacity(1);
            .transition(.2s ease);
            .border-radius(100%);
            .transform(none);
            &:before {
                color: #929292;
                font-family: 'Ionicons';
                font-size: 14px;
                position: static;
                vertical-align: middle;
                .transition(.2s ease);
            }
            &:not(.disabled) {
                &:hover {
                    background: @primarycolor;
                    border-color: @primarycolor;
                    &:before {
                        color: @white;
                    }
                }
            }
            &.disabled {
                cursor: auto;
            }
        }
        button.owl-prev {
            &:before {
                content: '\f3d2';
                left: 0;
                right: 0;
            }
        }
        button.owl-next {
            margin-left: 10px;
            &:before {
                content: '\f3d3';
                left: 0;
                right: 0;
            }
        }
    }
}
.roadthemes-slider.navigation-style1,.roadthemes-slider.navigation-style2{
    .owl-dots{
        position: absolute;
        right: 0;
        top: -58px;
        width: auto;
        margin: 0;
    }
    &.sale_products{
        .owl-carousel{
            .owl-dots{
                position: absolute;
                right: 15px;
                top: -76px;
                width: auto;
                margin: 0;
            }
         }
    }
}
/* SEARCHFORM
-----------------------------*/
.main-container .blogsearchform {
    .form-input {
        background: @white;
        border: 2px solid @bordercolor;
        color: @textcolor;
        max-width: 500px;
        position: relative;
        width: 100%;
     	border-radius: 3px;
        .input_text {
            background: none;
            border: none !important;
            height: 40px;
            line-height: 40px;
            outline: none;
            padding: 0 50px 0 15px;
            width: 100%;

            // style placeholder color and hide when click
            /*WebKit browsers*/
            &::-webkit-input-placeholder {
                color:  #666;
            }
            &:focus::-webkit-input-placeholder {
                color: transparent;
            }
            /* Mozilla Firefox 4 to 18 */
            &:-moz-placeholder {
                color:  #666;
            }
            &:focus:-moz-placeholder {
                color: transparent;
            }
            /* Mozilla Firefox 19+ */
            &::-moz-placeholder {
                color:  #666;
            }
            &:focus::-moz-placeholder {
                color: transparent;
            }
            /* Internet Explorer 10+ */
            &:-ms-input-placeholder {
                color:  #666;
            }
            &:focus:-ms-input-placeholder {
                color: transparent;
            }
        }
        .button-search {
		    background: none;
		    border: none;
		    color: @darkcolor;
		    cursor: pointer;
		    font-size: 0;
		    height: 40px;
		    line-height: 40px;
		    margin: 0;
		    outline: none;
		    padding: 0;
		    position: absolute;
		    right: 0;
		    text-align: center;
		    top: 0;
		    width: 40px;
		    font-weight: bold;
            &:before {
			    content: "\e86f";
			    font-size: 18px;
			    font-family: 'Linearicons-Free';
            }
            &:hover {
                background: none;  // override
                color: @primarycolor;
            }
        }
    }
}
.tagcloud {
    a {
        background: @white;
        border: 1px solid @bordercolor;
        color: @darkcolor;
        display: inline-block;
        font-size: 1em !important;
        margin: 0 5px 12px 0;
        padding: 3px 20px;
        text-transform: capitalize;
        .transition(all .2s ease);
        .border-radius(4px);
        &:hover {
            background: @primarycolor;
            border-color: @primarycolor;
            color: #333;
        }
    }
} 
.widget_tag_cloud {
    .widgettitle {
        display: none;
    }
}
.main-menu{
    display: table;
    width: 100%;
    height: 105px;
    > div{
        display: table-cell;
        vertical-align: middle;
        float: none;
    }
}
/* HEADER
-----------------------------*/
.header-container.header-4{
    .horizontal-menu{
        text-align: center;
    }
}
.header-container {
    background: #1b5577;
    color: @headercolor;
    position: relative;
    width: 100%;
    z-index: 7123;
    .container{
        width: 100%;
        max-width: 100%;
    }
    .header-inner {
        display: table;
        height: 80px;
        width: 100%;
        margin: auto;
        > div{
            display: table-cell;
            vertical-align: middle;
            float: none;
        }
    }
    &.rs-active, .header-composer {
		margin-bottom: 0;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		background: none;
    }
    a {
        color: @headerlinkcolor;
        &:hover {
            color: @headerlinkhovercolor;
        }
    }
    .jicotip {
        display: none !important;
    }
    .widget-title,
    .widgettitle {
        display: none;
    }
    .header-content > .container {
         > p {
            display: none;
        }
    }
    .headerSpace {
        display: none;
    }
    .vc_row {
        margin-bottom: 0;
    }
    .header-mobile {
        display: none;
    }
    .header-sticky {
        background: @headerstickybg;
        height: 0;
        overflow: hidden;
        padding: 0 15px;
        visibility: hidden;
        .opacity(0);
        .container{
            height: 70px;
        }
        &.ontop {
            -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.11);
               -moz-box-shadow: 0 1px 3px rgba(0,0,0,.11);
                    box-shadow: 0 1px 3px rgba(0,0,0,.11);
            height: auto !important;
            left: 0;
            position: fixed;
            right: 0;
            top: -50px;
            z-index: 10000; // > 980: z-index categories menu
            .transition(.5s ease);
            &.show {
                height: auto;
                overflow: visible;
                top: 0;
                visibility: visible;
                .opacity(1);
                &.with-admin-bar {
                    top: 32px;
                }
            }
            .logo {
                margin: 0;
                text-align: left;
            }
            .horizontal-menu {
                margin: 0;
                 > .mega_main_menu {
                    height: 100% !important;  // important
                     > .menu_holder .menu_inner > ul {
                        text-align: left;
                         > li {
                            padding-bottom: 0;
                            padding-top: 0;
                            &:last-child {
                                margin-right: 0;
                            }
                             > a.item_link {
                                height: 70px;
                                line-height: 70px;
                            }
                        }
                    }
                }
            }
            .row-logo {
                display: none;
            }
            .logo {
                .wpb_wrapper {
                    height: 70px;
                    a {
                        padding: 0;
                        img {
                            max-height: 70px;
                            padding: 5px;
                            width: auto;
                        }
                    }
                }
            }
        }
    }
    .categories-menu-wrapper {
        margin: 0;
        .categories-menu {
            .catemenu {
                position: absolute;
                .box-shadow(0px 2px 8px rgba(0, 0, 0, .1));
            }
            .catemenu-inner {
                border: none;
            }
            &.show {
                .catemenu {
                    padding: 0;
                }
            }
        }
    }
    .phone{
        position: absolute;
        right: 15px;
        top: 12px;
        p{
            color:#fff;
            font-weight: 500;
            font-size: 1rem;
            &:before{
                content: "\f2a0";
                font: normal normal normal 24px/1 FontAwesome;
                color: @primarycolor;
                margin-right: 5px;
            }
        }
    }
    // language-currency
    .vc_wp_custommenu{
        margin: 0;
    }
    .widget_nav_menu{
    	position: relative;
    	.widgettitle{
			height: 50px;
			width:50px;
			line-height: 50px;
			text-align: center;
			display: block;
			position: relative;
			font-size: 0;
			cursor: pointer;
			margin: 0;
			color: @menucolor;
			 &:before{
				content: "\e87e";
				font-size: 24px;
				font-family: 'Linearicons-Free';
			 }
    	}
    	 > div {
            display: none;
            background: #fff;
            border-radius: 5px;
            box-shadow: 0 0 5px rgba(0,0,0,0.2);
            top: 100%;
            right: 0;
            width: auto;
            border: 0;
            position: absolute;
            min-width: 150px;
            text-align: center;
            z-index: 1999;
            padding: 5px 15px;
            ul{
                padding: 0;
                li{
                    line-height: 36px;
                    padding: 0 15px;
                    margin: 0;
                    list-style: none;
                    a {
                        display: block;
                        height: 36px;
                        line-height: 36px;
                        padding: 0;
                        color: #707070;
                        white-space: nowrap;
                        &:hover{
                            color: @primarycolor;
                        }
                    }
                }
            }
        }
        &:hover{
            > div {
                display: block;
            }
        }
    }
    
    /* logo */
    .logo {
        &.style1 {

        }
        &.style3 {
            text-align: left;
        }
    }
    .header-wishlist {
        .blockUI {
            display: none !important;
        }
        .wishlist-text {
            display: block;
            line-height: 1.25;
            vertical-align: middle;
        }
    }
    /* topbar */
    .topbar {
        color: @topbarcolor;
        line-height: 40px;
        position: relative;
        &:before {
            background: @bordercolor;
            bottom: 0;
            content: '';
            display: block;
            height: 1px;
            left: 15px;
            position: absolute;
            right: 15px;
            z-index: 9;
        }
        a {
            color: @topbarlinkcolor;
            &:hover {
                color: @topbarlinkhovercolor;
            }
        }
        .wpb_text_column {
            margin: 0;
        }
        .vc_wp_custommenu {
            margin: 0;
        }
    }
    .box-cart{
        text-align: right; 
        .vc_column-inner{
            .wpb_wrapper > div{
                display: inline-block;
                vertical-align: middle;
                margin: 0;
            }
        }
    }
    /* header left */
    .header-left {
         > .vc_column-inner > .wpb_wrapper {
            float: left;
             > * {
                display: inline-block;
                margin: 0;
                vertical-align: middle;
                &:not(:last-child) {
                    margin-right: 35px;
                }
            }
        }
        .wpb_text_column {
            line-height: 45px;
            ul {
                margin: 0;
                padding: 0;
                li {
                    display: inline-block;
                    list-style-type: none;
                    vertical-align: top;
                    &:not(:last-child) {
                        margin: 0 45px 0 0;
                    }
                }
                a {
                    display: block;
                }
            }
            i {
                font-size: 0;
                margin-right: 5px;
                vertical-align: top;
                &:before {
                    display: inline-block;
                    font-size: 17px;
                    line-height: inherit;
                    vertical-align: top;
                }
            }
        }
        .widget_nav_menu {
            position: relative;
            &:hover {
                .widgettitle {
                    color: @headerlinkhovercolor;
                }
                div[class*='menu-'] {
                    visibility: visible;
                    .opacity(1);
                }
            }
            .widgettitle {
                color: @headerlinkcolor; /* override */
                cursor: pointer;
                display: block;
                font-size: .847em; /* override */
                font-weight: normal;
                line-height: 45px;
                margin: 0; /* override */
                text-transform: uppercase;
                white-space: nowrap;
                &:after {
                    content: '\f123';
                    display: inline-block;
                    font-family: 'Ionicons';
                    font-size: 8px;
                    margin-left: 5px;
                    vertical-align: middle;
                }
            }
            ul {
                list-style-type: none;
                margin: 0;
                padding: 0;
            }
            div[class*='menu-'] {
                background: @dropdownbg;
                border: 1px solid @bordercolor;
                color: @dropdowncolor;
                font-family: @dropdownfont;
                font-size: @dropdownfontsize;
                left: 0;
                padding: 20px 25px;
                position: absolute;
                right: auto;
                text-align: left;
                top: 100%;
                visibility: hidden;
                width: auto;
                z-index: 1270;
                .transition();
                .opacity(0);
                li {
                    line-height: normal;
                    margin-bottom: 10px;
                    &:last-child {
                        margin-bottom: 0;
                    }
                    a {
                        color: @submenucolor;
                        display: block;
                        line-height: 1.5;
                        white-space: nowrap;
                        &:hover {
                            color: @topbarlinkhovercolor;
                        }
                    }
                }
            }
        }
    }
    /* header-wishlist */
    .header-wishlist {
        a.wishlist-link {
		    margin: 0;
		    text-align: center;
		    font-size: 0;
		    color: @menucolor;
            &:before {
			    content: "\e813";
			    font-size: 24px;
			    display: inline-block;
			    vertical-align: middle;
			    width: 50px;
			    height: 50px;
			    line-height: 50px;
			    font-family: 'Linearicons-Free';
            }
        }
    }
    /* widget shopping cart */
    .widget_shopping_cart_content {
        display: inline-block;
        position: relative;
        .cart-toggler {
			display: inline-block;
			vertical-align: middle;
			position: relative;
			color: #ffffff;
			text-align: center;
            a {
                display: block;
            }
            .cart-text {
                line-height: 1.25;
                vertical-align: middle;
            }
            .cart-subtotal {
                color: @primarycolor;
                display: block;
                font-family: @headingfont;
                font-size: 1.143em;
                font-weight: @headingfontweight;
                margin-top: 5px;
            }
        }
        .mini_cart_content {
            height: 0;
            overflow: hidden;
            position: absolute;
            right: 0;
            text-align: left;
            top: 100%;
            z-index: 9967;
            .mini_cart_inner {
                background: @dropdownbg;
                border: 1px solid @bordercolor;
                color: @dropdowncolor;
                font-size: 1em;
                line-height: 1.5;
                max-height: 500px;
                overflow: auto;
                padding: 0;
                width: 360px;
                border-radius: 3px;
                .woocommerce-mini-cart__empty-message {
                    margin: 0;
                    padding: 25px 30px;
                }
            }
            ul.cart_list {
                padding:30px;
                li {
					margin-bottom: 15px;
					overflow: hidden;
					padding: 0;
					padding-bottom: 15px;
					border-bottom: 1px solid @bordercolor;
					position: relative;
                    .transition();
                    &:first-child {
                        padding-top: 0;
                    }
                    &:last-child {
                        border-bottom: none;
                        margin-bottom: 0;
                        padding:0;
                    }
                    .remove {
					    background: none;
					    color: #666666 !important;
					    display: block;
					    font-size: 18px;
					    font-weight: bold;
					    height: auto;
					    left: auto;
					    margin: 0;
					    position: absolute;
					    right: 0;
					    top: 0;
					    width: auto;
					    z-index: 1;
                        &:hover {
                            color: @primarycolor !important;
                        }
                    }
                    a {
                        color: @darkcolor;
					    font-weight: 500;
					    line-height: 1.5;
					    margin: 0 30px 5px 0;
					    text-align: left;
					    text-transform: capitalize;
                        &:hover {
                            color: @linkhovercolor;
                        }
                    }
                    img {
                        border: 1px solid transparent;
                        float: left;
                        margin: 0;
                        margin-right: 15px;
                        position: relative;
                        width: 85px;
                        &:hover {
                            border: 1px solid @primarycolor;
                        }
                    }
                    .amount {
                        color: @darkcolor;
                        font-weight: @headingfontweight;
                    }
                }
            }
            .total {
                border-top: 1px solid @bordercolor;
                border-bottom:1px solid @bordercolor;
                color: @darkcolor;
                font-weight: @headingfontweight;
                line-height: 40px;
                margin: 0 30px;
                padding: 15px 0;
                text-align: left;
                text-transform: capitalize;
                strong {
                    font-weight: @headingfontweight;
                }
                .amount {
                    color: @primarycolor;
                    float: right;
                    font-weight: @headingfontweight;
                }
            }
            .buttons {
                display: block;
                margin: 0;
                padding: 20px 30px;
                .clearfix();
                a {
                    background: #f6f6f6;
                    color: @darkcolor;
                    border: 1px solid @bordercolor;
                    display: inline-block;
                    font-family: @bodyfont;
                    font-weight: @headingfontweight;
                    height: 50px;
                    line-height: 50px;
                    margin: 10px 4px;
                    padding: 0 15px; // override
                    text-align: center;
                    text-transform: none;
                    width: 100%;
                    .border-radius(3);
                    &:hover {
                        background: @darkcolor;
                        color: @white;
                    }
                }
            }
            ul.cart_empty {
                margin: 0;
                padding: 0;
                li {
                    list-style: none;
                    padding-bottom: 0;
                    text-align: left;
                    &.total {
                        border: 0;
                        padding-top: 20px;
                    }
                }
            }
            .loading {
                background-color: #fff;
                background-image: url('../images/loader.gif');
                background-position: center center;
                background-repeat: no-repeat;
                display: none;
                height: 100%;
                left: 0;
                opacity: .7;
                position: absolute;
                top: 0;
                width: 100%;
                z-index: 2;
            }
            &.loading {
                .loading {
                    display: block;
                }
            }
        }
    }
    /* header search */
    .header-search {
        display: block;
        .search-dropdown {
            display: inline-block;
            position: relative;
            &:before {
                background: none;
                color: @headerlinkcolor;
                content: '\f4a4';
                cursor: pointer;
                display: block;
                font-family: 'Ionicons';
                font-size: 22px;
                height: 40px;
                line-height: 40px;
                text-align: center;
                width: 40px;
                .border-radius(100%);
                .transition();
            }
            &:hover:before {
                color:@primarycolor;
            }
            .searchform {
                display: none;
                position: absolute;
                right: 0;
                top: 100%;
                z-index: 999;
            }
            .searchform {
                label {
                    display: none;
                }
                .form-input {
                    background: @dropdownbg;
                    border: 1px solid @bordercolor;
                    padding: 0 20px;
                    white-space: nowrap;
                }
                #ws,
                .searchsubmit {
                    display: inline-block;
                    vertical-align: bottom;
                }
                .ws {
                    background: none;
                    border: none;
                    color: @dropdowncolor;
                    font-family: @bodyfont;
                    font-size: 1em;
                    height: 48px;
                    line-height: 48px;
                    margin: 0;
                    outline: none;
                    padding-right: 25px;
                    width: 280px;
                    // style placeholder color and hide when click
                    /*WebKit browsers*/
                    &::-webkit-input-placeholder {
                        color: @dropdowncolor;
                    }
                    &:focus::-webkit-input-placeholder {
                        color: transparent;
                    }
                    /* Mozilla Firefox 4 to 18 */
                    &:-moz-placeholder {
                        color: @dropdowncolor;
                    }
                    &:focus:-moz-placeholder {
                        color: transparent;
                    }
                    /* Mozilla Firefox 19+ */
                    &::-moz-placeholder {
                        color: @dropdowncolor;
                    }
                    &:focus::-moz-placeholder {
                        color: transparent;
                    }
                    /* Internet Explorer 10+ */
                    &:-ms-input-placeholder {
                        color: @dropdowncolor;
                    }
                    &:focus:-ms-input-placeholder {
                        color: transparent;
                    }
                }
                .searchsubmit {
                    background: none; // override
                    border: none; // override
                    box-shadow: none;
                    color: @dropdowncolor;
                    cursor: pointer;
                    font-size: 0;
                    height: 48px;
                    line-height: 48px;
                    outline: none; // override
                    padding: 0; // override
                    .transition();
                    &:before {
                        content: '\f2f5';
                        display: inline-block;
                        font-family: 'Ionicons';
                        font-size: 20px;
                        vertical-align: middle;
                    }
                    &:hover {
                        color: @headerlinkhovercolor;
                    }
                }
            }
            &.style2 {
                &:hover:before {
                    background: none;
                    color: @headerlinkhovercolor;
                }
            }
        }
        .search-without-dropdown {
		    display: inline-block;
		    max-width: 100%;
		    vertical-align: top;
		    white-space: nowrap;
            .categories-container {
            	display: none;
                border-radius: 30px 0 0 30px;
                position: absolute;
                top: 0;
                bottom: 0;
                right: 0;
                text-align: left;
                margin-right: 50px;
                &:hover {
                    .cate-toggler-wrapper {
                        color: @primarycolor;
                        &:before {
                            color: @primarycolor;
                        }
                    }
                }
                .cate-toggler-wrapper {
                    border-left: 1px solid @bordercolor;
                    color: #363f4d;
                    cursor: pointer;
                    height: 46px;
                    line-height: 49px;
                    text-align: left;
                    white-space: nowrap;
                    .transition();
                    .border-radius(0);
                    .cate-toggler {
                        overflow: hidden;
                        padding: 0 10px;
                        position: relative;
                        width: 160px;
                        text-align: center;
                        &:after {
                            content: "\f0d7";
                            display: inline-block;
                            font-family: FontAwesome;
                            font-size: 15px;
                            margin-left: 15px;
                            vertical-align: top;
                        }
                    }
                }
                .widget_product_categories {
                    left: 0;
                    min-width: 100%;
                    position: absolute;
                    top: 100%;
                    z-index: 10001;
                    ul.product-categories {
                        background: @white;
                        border: 1px solid @bordercolor;
                        box-shadow: 0 1px 2px #dedede;
                        display: none;
                        list-style-type: none;
                        max-height: 300px;
                        min-width: 215px;
                        overflow-y: scroll;
                        padding: 15px 20px;
                        text-align: left;
                        li {
                            display: block;
                            margin-bottom: 15px;
                            &:last-child {
                                margin-bottom: 0;
                            }
                            a {
                                color: #999;
                                display: block;
                                font-size: 1em;
                                line-height: 1.35;
                                white-space: normal;
                                &:hover {
                                    color: @primarycolor;
                                }
                            }
                        }
                        ul.children {
                            margin-left: 0; // override
                            margin-top: 5px;
                            padding-left: 20px; // override
                            li {
                                margin: 7px 0;
                            }
                        }
                        &.open {
                            display: block;
                        }
                    }
                }
            }
            .widget_product_search {

            }
            .search-toggler {
                cursor: pointer;
                font-size: 0;
                i {
                    color: @headerlinkcolor;
                    display: inline-block;
                    vertical-align: middle;
                    &:before {
                        content: '\55';
                        display: inline-block;
                        font-family: 'ElegantIcons';
                        font-size: 18px;
                        vertical-align: top;
                    }
                }
            }
            .searchform {
			    background: transparent;
			    border: none;
			    overflow: hidden;
			    position: relative;
                label {
                    display: none;
                }
                .form-input {
					position: relative;
					padding-left: 50px;
					height: 50px;
                    .clearfix();
                }
                .ws {
				    background: none;
				    border: none;
				    border-right: none;
				    color: @menucolor;
				    font-family: Rubik, Arial, Helvetica, sans-serif;
				    height: 50px;
				    line-height: 46px;
				    margin: 0;
				    max-width: 100%;
				    outline: none;
				    padding-right: 10px;
				    text-align: left;
				    white-space: nowrap;
				    box-shadow: none;
				    width: 180px;
				    -webkit-appearance: none;
				    -webkit-border-radius: 0;
				    -moz-border-radius: 0;
				    border-radius: 0;
                    // style placeholder color and hide when click
                    /*WebKit browsers*/
                    &::-webkit-input-placeholder {
                        color: #a4a4a4;
                    }
                    &:focus::-webkit-input-placeholder {
                        color: transparent;
                    }
                    /* Mozilla Firefox 4 to 18 */
                    &:-moz-placeholder {
                        color: #a4a4a4;
                    }
                    &:focus:-moz-placeholder {
                        color: transparent;
                    }
                    /* Mozilla Firefox 19+ */
                    &::-moz-placeholder {
                        color: #a4a4a4;
                    }
                    &:focus::-moz-placeholder {
                        color: transparent;
                    }
                    /* Internet Explorer 10+ */
                    &:-ms-input-placeholder {
                        color: #a4a4a4;
                    }
                    &:focus:-ms-input-placeholder {
                        color: transparent;
                    }
                }
                .searchsubmit {
				    background: none;
				    border: none;
				    box-shadow: none;
				    color: @menucolor;
				    cursor: pointer;
				    font-size: 0;
				    font-weight: 500;
				    height: 50px;
				    line-height: 50px;
				    outline: none;
				    display: inline-block;
				    position: absolute;
				    left: 0;
				    width: 50px;
				    -webkit-border-radius: 0 4px 4px 0;
				    -moz-border-radius: 0 4px 4px 0;
				    border-radius: 0 4px 4px 0;
				    -webkit-transition: all .3s ease;
				    -moz-transition: all .3s ease;
				    -ms-transition: all .3s ease;
				    -o-transition: all .3s ease;
				    transition: all .3s ease;
                    .border-radius(0);
                    .transition();
                    &:before {
					    content: "\e86f";
					    font-size: 24px;
					    font-family: 'Linearicons-Free';
                        .transition();
                    }
                }
            }
            &.style2 {
                .searchform{
                    border: 2px solid @bordercolor;
                }
            }
        }
    }
    .header-main {
        padding: 35px 0 25px 0;
    }
    .header-right {
         > .vc_column-inner > .wpb_wrapper {
            float: right;
             > * {
                display: inline-block;
                margin: 0 15px 0 0;
                vertical-align: middle;
                &:last-child {
                    margin: 0;
                }
            }
        }
        .vc_column-inner {
            justify-content: flex-end;
            flex-direction: row !important;
        }
    }
    .header-main-right {
         > .vc_column-inner > .wpb_wrapper {
            float: right;
             > * {
                display: inline-block;
                margin: 0 15px 0 0;
                vertical-align: middle;
                &:last-child {
                    margin: 0;
                }
            }
        }
        .vc_column-inner {
            justify-content: flex-end;
            flex-direction: row !important;
        }
    }
    .header-icon {
        .vc_wp_custommenu {
            margin-bottom: 0; /* override */
            &:last-child {
                .widget_nav_menu {
                    div[class*='menu-'] {
                        left: auto;
                        right: 0;
                    }
                }
            }
        }
        .widget_nav_menu {
            position: relative;
            &:hover {
                .widgettitle {
                    color: @topbarlinkhovercolor;
                }
                div[class*='menu-'] {
                    visibility: visible;
                    .opacity(1);
                }
            }
            .widgettitle {
                color: @headerlinkcolor; /* override */
                cursor: pointer;
                display: block;
                font-size: 0; /* override */
                margin: 0; /* override */
                &:before {
                    content: '\f130';
                    display: block;
                    font-family: 'Ionicons';
                }
            }
            ul {
                list-style-type: none;
                margin: 0;
                padding: 0;
            }
            div[class*='menu-'] {
                background: @dropdownbg;
                border: 1px solid @bordercolor;
                color: @dropdowncolor;
                font-family: @dropdownfont;
                font-size: @dropdownfontsize;
                left: 0;
                padding: 20px;
                min-width: 150px;
                position: absolute;
                text-align: left;
                top: 100%;
                visibility: hidden;
                width: auto;
                z-index: 1270;
                .transition();
                .opacity(0);
                li {
                    line-height: normal;
                    margin-bottom: 10px;
                    margin-left: 0;
                    display: block;
                    &:last-child {
                        margin-bottom: 0;
                    }
                    a {
                        color: @submenucolor;
                        display: block;
                        line-height: 1.5;
                        white-space: nowrap;
                        &:before{
                            display: none;
                        }
                        &:hover {
                            color: @topbarlinkhovercolor;
                        }
                    }
                }
            }
        }
    }
    /* header default */
    .header-default {
        padding:10px 0;
        .main-menu-wrapper{
            display: inline-block;
            vertical-align: middle;
            .primary-menu-container{
                 text-align: left;
            }
        }        
        h1.logo {
            align-items: center;
            display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
            display:    -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
            display: -ms-flexbox;      /* TWEENER - IE 10 */
            display: -webkit-flex;     /* NEW - Chrome */
            display:         flex;
            font-size: 2em;
            height: 70px;
            line-height: 1.1;
            margin: 0;
            overflow: hidden;
            padding: 0;
            a {
                display: inline-block;
                margin: 0;
                padding: 0;
                vertical-align: top;
                &:hover {
                    color: @headerlinkhovercolor;
                }
            }
        }
        .header-search {
            float: right;
            position: relative;
            margin-top: 15px;
            .blogsearchform{
                .form-input{
                    background: #ffffff;
                    border: 1px solid #ebebeb;
                    width: 260px;
                    margin: auto;
                    padding: 0 20px;
                    white-space: nowrap;
                    height: 45px;
                    padding-right:45px;
                    position:relative;
                    .ws{
                        width: 100%;
                        height:100%;
                        background:none;
                        border:0;
                    }
                    .button-search{
                        position:absolute;
                        right: 0;
                        top: 0;
                        border:0;
                        background:none;
                        width: 45px;
                        height: 45px;
                        text-align: center;
                        line-height: 45px;
                        font-size:0;
                        cursor: pointer;
                        &:before{
                            content: '\f2f5';
                            display: inline-block;
                            font-family: 'Ionicons';
                            font-size: 20px;
                            vertical-align: middle;
                        }
                        &:focus{
                            outline:none;
                        }
                    }
                }
            }
        }
    }
    /* other header */
    .header-minicart.style1{
		float: none;
        .widget_shopping_cart_content{
            .cart-toggler{
                a{
                    position:relative;
                    .cart-quantity{
					    position: absolute;
					    width: 24px;
					    height: 24px;
					    background: none;
					    top: 4px;
					    right: -4px;
					    text-align: center;
					    line-height: 24px;
					    color: @menucolor;
					    font-size: 12px;
					    -webkit-border-radius: 100%;
					    -moz-border-radius: 100%;
					    border-radius: 100%;           
		             }
                    .cart-text{
					    display: inline-block;
					    font-size: 0;
					    line-height: 1.1;
					    vertical-align: middle;
                        &:before{
						    content: "\e82e";
						    display: block;
						    width: 50px;
						    height: 50px;
						    line-height: 50px;
						    font-size: 24px;
					        color: @menucolor;
						    font-family: 'Linearicons-Free';
                        }
                    }
                    .cart-total{
                        color: #fff;
                        margin: 2px 0 0;
                        display: none;
                    }
                }
            }
        }
    }
    .header-minicart.style2 {
        .widget_shopping_cart_content {
            &:hover {
                .cart-toggler a {
                    color: @headerlinkhovercolor;
                    &:before {
                        background: none;
                        color: @headerlinkhovercolor;
                    }
                }
            }
            .cart-toggler .cart-quantity {
                background: @primarycolor;
                color: @white;
                right: 1px;
            }
        }
        /* widget shopping cart */
        .widget_shopping_cart_content {
            display: inline-block;
            position: relative;
            &:hover {
                .cart-toggler a {

                }
            }
            .cart-toggler {
                position: relative;
                a {
                    display: block;
                    &:before {
                        background: none;
                        color: @headerlinkcolor;
                        content: '\f110';
                        display: block;
                        font-family: 'Ionicons';
                        font-size: 19px;
                        height: 40px;
                        line-height: 40px;
                        padding-right: 7px;
                        text-align: center;
                        width: 40px;
                        .border-radius(100%);
                        .transition();
                    }
                }
                .cart-text {
                    display: none;
                    line-height: 1.25;
                    vertical-align: middle;
                }
                .cart-total{
                    display: none;
                }
                .cart-subtotal {
                    color: @primarycolor;
                    display: block;
                    font-family: @headingfont;
                    font-size: 1.143em;
                    font-weight: @headingfontweight;
                    margin-top: 5px;
                }
                .cart-quantity {
                    background: #333;
                    color: #fff;
                    display: block;
                    font-size: 11px;
                    height: 17px;
                    line-height: 17px;
                    position: absolute;
                    right: 4px;
                    text-align: center;
                    top: 2px;
                    width: 17px;
                    z-index: 9;
                    .border-radius(100%);
                }
            }
        }
    }
    .header-sticky {
        .sticky-menu-wrapper {
            .horizontal-menu {
                text-align: right;
            }
        }
        .header-sticky-right .vc_column-inner {
            justify-content: flex-end;
            flex-direction: row !important;
             > .wpb_wrapper > * {
                float: left;
                margin-right: 30px;
                &:last-child {
                    margin: 0;
                }
            }
             > .wpb_wrapper .sticky-menu-wrapper {
                margin-right: 70px;
            }
        }
        .header-wishlist.style1 {
            display: table;
            height: 70px;
            .header-wishlist-inner {
                display: table-cell;
                vertical-align: middle;
            }
        }
        .header-minicart.style1 {
            .widget_shopping_cart_content {
                display: table;
                height: 70px;
                margin: 0;
                padding: 0;
            }
            .cart-toggler {
                display: table-cell;
                vertical-align: middle;
            }
            
        }
    }
    .header-mobile {
        padding-top: 20px;
        padding-bottom: 20px;
        background:#252531;
        .logo {
            text-align: left;
        }
        .header-icon {
            text-align: right;
        }
    }
    .header-icon {
        text-align: center;
        .vc_column-inner > .wpb_wrapper > div {
            display: inline-block;
            text-align: left;
            vertical-align: middle;
            &:not(:last-child) {
                margin-right: 10px;
            }
        }
        .vc_wp_custommenu {
            margin-bottom: 0; /* override */
            &:last-child {
                .widget_nav_menu {
                    div[class*='menu-'] {
                        left: auto;
                        right: 0;
                    }
                }
            }
        }
        .widget_nav_menu {
            position: relative;
            &:hover {
                .widgettitle {
                    color: @topbarlinkhovercolor;
                }
                div[class*='menu-'] {
                    visibility: visible;
                    .opacity(1);
                }
            }
            .widgettitle {
                color: @headerlinkcolor; /* override */
                cursor: pointer;
                display: block;
                font-size: 0; /* override */
                margin: 0; /* override */
                &:before {
                    height: 40px;
                    line-height: 40px;
                    text-align: center;
                    width: 40px;
                    content: "\e87e";
                    font-size: 24px;
                    font-family: 'Linearicons-Free';
                }
            }
            ul {
                list-style-type: none;
                margin: 0;
                padding: 0;
            }
            div[class*='menu-'] {
                background: @dropdownbg;
                border: 1px solid @bordercolor;
                color: @dropdowncolor;
                font-family: @dropdownfont;
                font-size: @dropdownfontsize;
                left: 0;
                padding: 20px 25px;
                position: absolute;
                text-align: left;
                top: 100%;
                visibility: hidden;
                width: auto;
                z-index: 1270;
                .transition();
                .opacity(0);
                li {
                    line-height: normal;
                    margin-bottom: 10px;
                    &:last-child {
                        margin-bottom: 0;
                    }
                    a {
                        color: @submenucolor;
                        display: block;
                        line-height: 1.5;
                        white-space: nowrap;
                        &:hover {
                            color: @topbarlinkhovercolor;
                        }
                    }
                }
            }
        }
    }
    .header-menu-right {
         > .vc_column-inner > .wpb_wrapper {
            float: right;
             > * {
                float: left;
            }
        }
        .vc_column-inner {
            justify-content: flex-end;
            flex-direction: row !important;
        }
    }
    .main-menu-wrapper.style2 {
        .horizontal-menu {
            text-align: left;
        }
    }
    .main-menu-wrapper.style3 {
        .horizontal-menu {
            text-align: right;
        }
    }
    &.header-3 {
        .categories-menu-wrapper{
            .categories-menu{
                .catemenu-toggler{
                    height: 49px;
                    line-height: 49px;
                    border-radius: 5px;
                    margin-top: 3px;
                }
            }
        }
    }
}
@media (min-width: 992px){
    /* header default */
    .header-default {       
        .header-search {
            &:before{
                background: none;
                color: #fff;
                content: '\f4a4';
                cursor: pointer;
                display: inline-block;
                font-family: 'Ionicons';
                font-size: 22px;
                height: 40px;
                line-height: 40px;
                text-align: center;
                width: 40px;
                -webkit-border-radius: 100%;
                -moz-border-radius: 100%;
                border-radius: 100%;
                -webkit-transition: .3s ease;
                -moz-transition: .3s ease;
                -ms-transition: .3s ease;
                -o-transition: .3s ease;
                transition: .3s ease;
            }
            &:hover{
                .blogsearchform{
                    opacity: 1;
                    visibility: visible;
                } 
            }
            .blogsearchform{
                position: absolute;
                right: 0;
                top: 100%;
                z-index: 999;
                opacity: 0;
                visibility: hidden;
                transition: .3s ease;
            }
        }
    }
}
/* HOMEPAGE
-----------------------------*/
.home {
    .categories-menu {
        #categories {
            display: none;
        }
        &.show_home {
            #categories {
                display: block;
            }
            .morelesscate {
                display: block;
            }
        }
    }
}
/* FOOTER
-----------------------------*/
.footer {
    float: left;
    width: 100%;
    border-top: 1px solid @bordercolor;
    .vc_row {
        margin-bottom: 0;
    }
    a {
        color: @footerlinkcolor;
        &:hover {
            color: @footerlinkhovercolor;
        }
    }
    ul {
        padding: 0;
        li {
            list-style-type: none;
        }
    }
    p {
        margin-bottom: 10px;
    }
    .widget-title,
    .widgettitle {
    	font-size: 1.3em;
	    margin-bottom: 40px;
    }
    .footer-default {
        padding: 30px 0;
        .widget-copyright {
            text-align: center;
            a {
                color: @primarycolor;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
    /* footer-inner */
    .footer01{
        display: table;
        height: 130px;
        width: 100%;
        margin: auto;
        > div {
            display: table-cell;
            vertical-align: middle;
            float: none;
        }
    }
    /* footer main */
    .footer-main {
        padding: 65px 0 30px 0;
        position: relative;
        &:before {
            background: @bordercolor;
            bottom: 0;
            content: '';
            display: block;
            height: 1px;
            left: 15px;
            position: absolute;
            right: 15px;
        }
        .wpb_text_column {
            h4 {
                font-size: 1em;
                margin-top: 50px;
            }
        }
    }
    .logo {
        margin-bottom:0;
    }
    /* footer custom menu */
    .vc_wp_custommenu {
        ul {
            margin: 0; /* override */
            padding: 0; /* override */
            li {
                line-height: 1.5;
                list-style-type: none;
                margin-bottom: 15px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
    /* footer contact */
    .footer-contact {
        ul {
            margin: 0; /* override */
            padding: 0; /* override */
        }
        li {
            margin: 0 0 10px 0;
            &:last-child {
                margin: 0;
            }
        }
        strong {
            color: #222;
            font-weight: normal;
        }
        h4 {
            display: inline;
            font-size: 1.429em;
        }
        br {
            display: none;
        }
    }
    .footer-copyright {
        padding: 25px 0;
        position: relative;
        .wpb_text_column {
            margin-bottom: 0;
            padding-top: 10px;
            a {
                color: @primarycolor;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
        .vc_wp_custommenu {
            margin: 0; /* override */
            ul {
                margin: 0; /* override */
                padding: 0; /* override */
                text-align: right;
                li {
                    display: inline-block;
                    margin: 0 40px 0 0;
                    vertical-align: middle;
                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
            a {
                color: @footercolor;
                &:hover {
                    color: @footerlinkhovercolor;
                }
            }
        }
    }
    .box-col{
        position: relative;
        &:before{
            content: "";
            height: 2px;
            width: 45px;
            background: @primarycolor;
            position: absolute;
            top: 0;
        }
        i{
            font-size: 16px;
            margin-right: 10px;
            color: #fff;
        }
    }
    .col2{
    	.alignnone{
		    margin-top: 20px;
    	}
    }
    .col3{
        p{
            max-width: 400px;
            float: right;
            margin-bottom: 15px;
        }
        .mc4wp-form{
            float: right;
            input[type='email']{
                float: none;
                text-align: right;
                font-size: 12px;
                margin: 0;
                margin-top: 20px;
                margin-bottom: 15px;
                padding:0;
                height: 45px;
                line-height: 45px;
                border-bottom: 1px solid @bordercolor;
                width: 520px;
                max-width: 100%;
            }
            button[type='submit']{
                float: right;
                padding: 0 40px;
                height: 45px;
                line-height:45px;
                font-size: 12px;
                text-transform: uppercase;
            }
        }
    }
}
/* GOOGLE MAP
-----------------------------*/
.wpb_map_heading {
    margin-bottom: 10px;
    text-align: center;
}
.contact-page {
    .wpb_gmaps_widget {
        .wpb_wrapper {
            padding: 0;
        }
    }
}
/* CONTENT
-----------------------------*/
.page-content,
#secondary {
    margin-bottom: 45px;
}
/* title and breadcumb */
.title-breadcumbs {
    background:#333 url(../images/banner-shop.jpg) no-repeat center bottom 100%;
    margin-bottom: 100px;
    padding: 150px 0;
    text-align: center;
}
.page-wrapper {
    .breadcrumb-container {
        display: block;
    }
    .woocommerce-breadcrumb,
    .breadcrumbs {
        color: @primarycolor;
        display: block;
        font-family: @bodyfont;
        font-size: 1em;
        line-height: 25px;
        margin: 0; /* override */
        a {
            color: #fff;
            display: inline;
        }
        .separator {
            color: #fff;
            display: inline;
            margin: 0 5px;
        }
    }
    .entry-header {
        text-align: center;
        .entry-title {
            font-size: 5.714em;
            margin: 0 0 10px 0;
            color: #fff;
            font-weight: normal;
        }
    }
}
.main-container.has-image {
    .title-breadcumbs {
        background: none;
        padding: 0;
        position: relative;
        margin-bottom: 100px;
        .blog-banner {
        	img{
        		width: 100%;
        	}
        }
        .title-breadcumbs-text {
            position: absolute;
            top: 50%;
            width: 100%;
            .transform(translateY(-50%));
        }
    }
}
.shop-page.has-image {
    .title-breadcumbs {
        margin-bottom: 100px;
        .title-breadcumbs-text {
            margin-top: -25px; /* 1/2 margin negative */
        }
    }
    .shop_content {
        margin-top: -50px;
        position: relative;
        z-index: 88;
        .shop_content-inner {
            background: @white;
            margin-left: -15px;
            margin-right: -15px;
            padding: 30px 30px 0 30px;
        }
    }
    .product-page {
        margin-top: -50px;
        position: relative;
        z-index: 88;
        .product-view-inner {
            background: @white;
            margin-left: -15px;
            margin-right: -15px;
            padding: 30px 30px;
        }
    }
}
// Main container
.main-container {
    padding-bottom: 55px;
    width: 100%;
    .clearfix();
}
.main-container {
    .shop_tabs {
        margin-bottom: 35px;
        &:after {
            clear: both;
            content: '';
            display: block;
            height: 0;
            line-height: 0;
            visibility: hidden;
        }
        .category-tab {
            margin-bottom: 35px;
            padding: 0 15px;
            text-align: center;
            &.active {
                a {
                    color: @primarycolor;
                }
            }
            img {
                margin-bottom: 15px;
            }
            a {
                color: @textcolor;
                font-size: 1em;
                font-weight: 700;
                line-height: 28px;
                text-transform: uppercase;
                &:hover {
                    color: @primarycolor;
                }
            }
        }
    }
    .page {
        width: 100%;
    }
}
.main-container {
    label {
        display: inline-block;
        font-weight: normal;
        margin: 0;
    }
    .input-text,
    input[type='text'],
    input[type='email'],
    .form-row .input-text {
        background: @white;
        border: 1px solid @bordercolor;
        border-radius: 0;
        height: 50px;
        line-height: 48px;
        max-width: 100%;
        padding: 0 15px;
        vertical-align: middle;;
    }
    textarea {
        border: 1px solid @bordercolor;
        border-radius: 0;
        max-width: 100%;
        outline: none;
        padding: 10px;;
    }
    .button,
    button.button,
    a.button,
    a.button.alt,
    input#submit,
    input.button {
        .buttonMixin();
        text-transform: capitalize;
        height: 50px;
        font-weight: 500;
        font-size: 1em;
        padding: 0 30px;
        &:hover{
        	color: @darkcolor;
        }
    }
    .form-row {
        margin: 0 0 10px;
        padding: 0;
    }
    .entry-content {
        .ui-accordion {
            .wpb_accordion_section {
                margin: 0 0 10px;
                .ui-accordion-header {
                    background: lighten(@bordercolor, 5%);
                    border: 1px solid @bordercolor;
                    line-height: 1.5;
                    margin: 0;
                    padding: 0;
                    a {
                        color: @darkcolor;
                        font-weight: @headingfontweight;
                        padding: 15px 10px 15px 25px;
                    }
                    .ui-accordion-header-icon {
                        cursor: pointer;
                        margin-top: -8px;
                        top: 50%;
                    }
                    &.ui-accordion-header-active {
                        border-bottom: none;
                        border-color: @primarycolor;
                        outline: none;
                        a {
                            color: @primarycolor;
                            font-size: 1.143em;
                        }
                    }
                }
                .ui-accordion-content {
                    border-bottom: 1px solid @primarycolor;
                    border-left: 1px solid @primarycolor;
                    border-right: 1px solid @primarycolor;
                    border-top: 1px solid @bordercolor;
                    padding: 20px 25px;
                }
            }
        }
    }
}
/* SIDEBAR
-----------------------------*/
#secondary {
    /* button in sidebar */
    .button {
        background: @white;
        border: 1px solid @bordercolor;
        color: @darkcolor;
        font-family: @bodyfont;
        font-size: 0.9em; // override
        font-weight: @headingfontweight;
        height: 40px;
        letter-spacing: 0;
        line-height: 40px;
        padding: 0 25px;
        text-transform: uppercase;
        &:hover {
            background: @primarycolor;
            border-color: @primarycolor;
            color: @darkcolor;
        }
    }
    /* general widget */
    .widget {
        background: @white;
        float: left;
        margin: 0 0 75px 0;
        padding: 0;
        width: 100%;
        .border-radius();
        &:last-child {
            border: none;
            margin: 0;
            padding: 0;
        }
        .count {
            color: @greycolor;
            font-size: .929em;
        }
    }
    /* widget title */
    .widget-title {
        font-size: 1.428em;
        margin-bottom: 20px;
        position: relative;
        text-align: left;
    }
    /* product list */
    .product_list_widget {
        li {
            margin-bottom: 30px;
            padding: 0; // override
            &:last-child {
                margin-bottom: 0;
            }
        }
        .product-image {
            float: left;
            width: 35%;
            a {
                display: block;
            }
            img {
                float: none;
                margin: 0;
                width: 100%;
            }
        }
        .product-info {
            float: left;
            padding-left: 10px;
            width: 65%;
            a {
                color: @darkcolor;
                display: block;
                font-family: @bodyfont;
                font-size: 1em;
                font-weight: normal;
                line-height: 1.35;
                margin-bottom: 10px;
                max-width: 100%;
                &:hover {
                    color: @linkhovercolor;
                }
            }
            .star-rating {
                margin-bottom: 10px;
            }
            .woocommerce-Price-amount {
                color: @pricecolor;
                font-size: 1em;
                font-weight: @pricefontweight;
            }
            .woocommerce-price-suffix {
                color: @textcolor;
                .woocommerce-Price-amount {
                    color: inherit;
                }
            }
            ins {
                .woocommerce-Price-amount {
                    color: @pricecolor;
                    float: left;
                    font-size: 1em;
                    margin-right: 5px;
                }
            }
            del {
                margin-right: 3px;
                .woocommerce-Price-amount {
                    color: @greycolor;
                    font-size: .85em;
                    font-weight: normal;
                    text-decoration: line-through;
                }
            }
            .woocommerce-price-suffix {
                display: block;
                line-height: 1.35;
            }
        }
    }
    /* specific widget*/
    .widget_shopping_cart_content {
        display: inline-block;
        margin-bottom: -25px;
        padding-bottom: 25px;
        position: relative;
        &:hover {
            .cart-toggler a {
                color: @linkhovercolor;
            }
        }
        .cart-toggler {
            a {
                color: @darkcolor;
                display: block;
                padding-left: 40px;
                position: relative;
                &:before {
                    color: @darkcolor;
                    content: '\e82e';
                    display: block;
                    font-family: 'Linearicons-Free';
                    font-size: 32px;
                    left: 0;
                    line-height: 1;
                    position: absolute;
                    top: 3px;
                    z-index: 9;
                }
                &:hover {
                    &:before {
                        color: @headerhovercolor;
                    }
                }
            }
            .cart-icon {
                display: inline-block;
                position: relative;
                vertical-align: middle;
                &:before {
                    content: '';
                    content: '\f370';
                    display: block;
                    font-family: 'Ionicons';
                    font-size: 20px;
                    height: 70px;
                    line-height: 70px;
                }
                .cart-quantity {
                    font-size: .857em;
                    position: absolute;
                    right: -10px;
                    top: 10px;
                }
            }
            .cart-text {
                display: block;
                line-height: 1.25;
                vertical-align: middle;
            }
            .cart-title {
                display: block;
                .woocommerce-Price-amount {
                    display: none;
                }
            }
            .cart-subtotal {
                color: @primarycolor;
                display: block;
                font-family: @headingfont;
                font-size: 1.143em;
                font-weight: @headingfontweight;
                margin-top: 5px;
            }
            .cart-quantity {
                background: @primarycolor;
                color: @darkcolor;
                display: block;
                font-size: 10px;
                height: 19px;
                line-height: 19px;
                text-align: center;
                width: 19px;
                .border-radius(100%);
            }
        }
        .mini_cart_content {
            height: 0;
            overflow: hidden;
            position: absolute;
            right: 0;
            text-align: left;
            top: 100%;
            z-index: 9967;
            .mini_cart_inner {
                background: @dropdownbg;
                border: 1px solid @bordercolor;
                color: @dropdowncolor;
                font-size: 1em;
                line-height: 1.5;
                max-height: 500px;
                overflow: auto;
                padding: 0;
                width: 360px;
                border-radius: 3px;
                .woocommerce-mini-cart__empty-message {
                    margin: 0;
                    padding: 25px 30px;
                }
            }
            ul.cart_list {
                margin: 30px 30px;
                li {
                    margin-bottom: 30px;
                    overflow: hidden;
                    padding: 0; /* override */
                    position: relative;
                    .transition();
                    &:first-child {
                        padding-top: 0;
                    }
                    &:last-child {
                        border-bottom: none;
                        margin-bottom: 0;
                    }
                    .remove {
                        background: @primarycolor;
                        color: #fff !important;
                        display: block;
                        font-size: 18px;
                        font-weight: normal;
                        height: 24px; /* override */
                        left: auto;
                        line-height: 24px; /* override */
                        margin: 0; /* override */
                        position: absolute;
                        right: 0;
                        text-align: center;
                        top: 0;
                        width: 24px; /* override */
                        z-index: 1;
                        .border-radius(100%);
                        &:hover {
                            background: @darkcolor !important;
                            color: @white !important;
                        }
                    }
                    a {
                        color: @darkcolor;
					    font-weight: 500;
					    line-height: 1.5;
					    margin: 0 30px 5px 0;
					    text-align: left;
					    text-transform: capitalize;
                        &:hover {
                            color: @linkhovercolor;
                        }
                    }
                    img {
                        border: 1px solid transparent;
                        float: left;
                        margin: 0;
                        margin-right: 15px;
                        position: relative;
                        width: 90px;
                        &:hover {
                            border: 1px solid @primarycolor;
                        }
                    }
                    .amount {
                        color: @darkcolor;
                        font-size: 1.286em;
                        font-weight: @headingfontweight;
                    }
                }
            }
            .total {
                border-top: 1px solid @bordercolor;
                color: @darkcolor;
                font-size: 1.429em;
                font-weight: @headingfontweight;
                line-height: 40px;
                margin: 0 30px;
                padding: 15px 0;
                text-align: left;
                text-transform: none;
                strong {
                    font-weight: @headingfontweight;
                }
                .amount {
                    color: @darkcolor;
                    float: right;
                    font-weight: @headingfontweight;
                }
            }
            .buttons {
                border-top: 1px solid @bordercolor;
                display: block;
                margin: 0;
                padding: 20px 30px;
                .clearfix();
                a {
                    background: @primarycolor;
                    color: @darkcolor;
                    display: inline-block;
                    font-family: @bodyfont;
                    font-size: 1em;
                    font-weight: 400;
                    height: 45px;
                    line-height: 45px;
                    margin: 10px 4px;
                    padding: 0 15px; // override
                    text-align: center;
                    text-transform: none;
                    width: 100%;
                    .border-radius(4px);
                    &:hover {
                        background: @darkcolor;
                        color: @white;
                    }
                }
            }
            ul.cart_empty {
                margin: 0;
                padding: 0;
                li {
                    list-style: none;
                    padding-bottom: 0;
                    text-align: left;
                    &.total {
                        border: 0;
                        padding-top: 20px;
                    }
                }
            }
            .loading {
                background-color: #fff;
                background-image: url('../images/loader.gif');
                background-position: center center;
                background-repeat: no-repeat;
                display: none;
                height: 100%;
                left: 0;
                opacity: .7;
                position: absolute;
                top: 0;
                width: 100%;
                z-index: 2;
            }
            &.loading {
                .loading {
                    display: block;
                }
            }
        }
    }
    .widget_shopping_cart_content .mini_cart_content {
        left: 0 !important;
        right: auto !important;
    }
    .widget_archive,
    .widget_recent_entries,
    .widget_categories,
    .widget_pages,
    .widget_meta,
    .widget_nav_menu {
         > ul {
            padding: 0;
        }
        ul {
            margin-bottom: 0; /* override */
        }
        li {
            line-height: 1.35;
            list-style-type: none;
            margin-bottom: 0;
            &:last-child {
                margin-bottom: 0;
            }
            &.current_page_item,
            &.current-cat {
                a {
                    color: @linkactivecolor;
                }
            }
            a {
                color: @darkcolor;
                display: inline-block;
                padding: 5px 0;
                &:hover {
                    color: @linkhovercolor;
                }
            }
        }
        .sub-menu,
        .children {
            // border-top: 1px solid @bordercolor;
            padding-left: 12px;
            li {
                margin-bottom: 0;
            }
        }
    }
    .widget_categories,
    .widget_recent_entries,
    .widget_archive,
    .widget_product_categories,
    .widget_layered_nav {
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
        }
        li {
            margin-bottom: 5px;
            &:last-child {
                margin-bottom: 0;
            }
        }
        a,
        .count {
            color: @darkcolor;
        }
        a {
            display: inline-block;
            &:hover {
                color: @linkhovercolor;
            }
        }
        .count {
            float: none;
        }
        .children {
            display: none;
            margin: 14px 0;
            padding-left: 20px;

            a:hover {
                color: @linkhovercolor;
            }
            li {
                &:last-child {
                    border-bottom: none;
                }
            }
        }
    }
    .widget_product_categories {
        li {
            &.cat-parent {
                padding-right: 25px;
                position: relative;
                &:before {
                    content: '\f107';
                    cursor: pointer;
                    font-family: FontAwesome;
                    font-size: 12px;
                    position: absolute;
                    right: 0;
                    top: 3px;
                }
                &.hidesub {
                    &::before {
                        content: '\f106';
                    }
                }
            }
            &.current-cat,
            &.current-cat-parent {
                 > a,
                 > .count {
                    color: @primarycolor;
                }
            }
        }
         > li:last-child {
            margin-bottom: 0;
        }
    }
    .widget_price_filter {
        form {
            margin-top: 30px;
        }
        .price_slider {
            background: #dbdbdb;
            border-radius: 50px;
            box-shadow: none;
            cursor: pointer;
            height: 5px;
            margin: 0 0 35px;
            width: 100%;
            .ui-slider-range {
                background: @primarycolor;
                border: none;
                box-shadow: none;
                height: 100%;
            }
            .ui-slider-handle {
                align-items: center;
                background: @white;
                content: '';
                display:         flex;
                display: -webkit-flex;
                height: 15px;
                line-height: 14px;
                margin: 0;
                text-align: center;
                top: 50%;
                width: 15px;
                border: 3px solid @primarycolor;
                .box-shadow(0px 0px 3px 0px rgba(0, 0, 0, .2));
                .border-radius(100%);
                .transform(translate(0,-50%));

                &:last-child {
                    .transform(translate(-100%,-50%));
                }
            }
        }
        .price_slider_amount {
            font-size: .933em; // override
            .clearfix();
            .price_label {
                height: 32px;
                line-height: 32px;
                text-align: left;
                span {
                    color: @darkcolor;
                    font-weight: @headingfontweight;
                    &:first-of-type {
                        margin-left: 5px;
                    }
                }
                .from,
                .to {
                    font-weight: @headingfontweight;
                }
            }
        }
        .button {
            display: block;
            float: none;
            margin-bottom: 15px;
        }
    }
    .yith-woocompare-widget {
        .widget_content {
            .clearfix();
        }
        ul.products-list {
            margin-bottom: 20px ;
            padding: 0; // override
            color: @darkcolor;
            li {
                padding: 10px 0; // override
                padding-right: 35px;
                position: relative;
                &.list_empty {
                    padding: 0;
                }
            }
            a {
                color: @darkcolor;
                font-size: 1em; // override
                line-height: 1.2;
                text-transform: none; // override
                &:hover {
                    color: @linkhovercolor;
                }
                &.remove {
                    background: none;
                    color: @greycolor !important; // override
                    font-size: 0;
                    height: auto; // override
                    left: auto; // override
                    padding: 10px;
                    position: absolute;
                    right: 0;
                    top: 50%;
                    width: auto; // override
                    .transform(translateY(-50%));
                    &:after {
                        content: '\f00d';
                        display: inline-block;
                        font-family: FontAwesome;
                        font-size: 14px;
                    }
                    &:hover {
                        color: @primarycolor !important; // override
                    }
                }
            }
        }
        a {
            padding-bottom: 0;
            padding-top: 0;
            &:after {
                display: none;
            }
        }
        .clear-all {
            float: left;
            font-size: inherit; // override
            height: 40px;
            line-height: 40px;
        }
    }
    .widget_top_rated_products {
        display: block;
    }
    .widget_media_image {
        border: none;
        padding: 0;
        text-align: center;
        a {
            .image-hover-effect();
        }
    }

    .aiwidgetscss {
        .widget-title {
            display: block; // override
        }
    }
    iframe {
        max-width: 100%;
    }
    .jicotabs {
        color: #363636;
        display: block;
        font-family: @bodyfont;
        font-size: 1em;
        font-weight: normal;
        line-height: 14px;
        padding: 0;
        width: 100%;
        li {
            background: @bordercolor;
            border-top: 2px solid @bordercolor;
            cursor: pointer;
            float: left;
            list-style: none;
            margin: 0;
            padding: 10px 0;
            text-align: center;
            width: 50%;
            &.active {
                background: none;
                border-top: 2px solid @primarycolor;
                cursor: default;
                &:hover {
                    background: none;
                }
            }
            &:hover {
                background: #eee;
            }
        }
    }
    .su-accordion {
        .su-spoiler {
            border-bottom: 1px solid @bordercolor;
            &:hover {
                .su-spoiler-icon {
                    background: @primarycolor;
                }
                .su-spoiler-title {
                    color: @primarycolor;
                }
            }
            &.su-spoiler-closed {
                .su-spoiler-content {
                    padding: 0;
                }
            }
        }
        .su-spoiler-title {
            font-weight: normal;
        }
        .su-spoiler-icon {
            background: @greycolor;
            color: #fff;
            font-size: 10px;
            line-height: 20px;
            .transition();
        }
        .su-spoiler-content {
            padding: 15px 0;
        }
    }
    .su-vimeo {
        margin: 0;
    }
    .widget_rss {
        ul {
            margin: 0;
            padding: 0;
            li {
                list-style-type: none;
                margin: 0 0 25px;
                &:last-child {
                    margin: 0;
                }
                .rsswidget {
                    color: @headingcolor;
                    display: block;
                    font-weight: @headingfontweight;
                    line-height: 1.4;
                    margin-bottom: 5px;
                    &:hover {
                        color: @primarycolor;
                    }
                }
                .rss-date {
                    color: @greycolor;
                    display: block;
                    font-size: .929em;
                    margin-bottom: 5px;
                    &:before {
                        content: '\f073';
                        display: inline-block;
                        font-family: FontAwesome;
                        margin-right: 5px;
                    }
                }
                .rssSummary {
                    display: block;
                }
                cite {
                    display: block;
                    &:before {
                        content: '\f007';
                        display: inline-block;
                        font-family: FontAwesome;
                        margin-right: 5px;
                    }
                }
            }
        }
    }
    .widget_products {
        ul {
            li {
                margin: 0 0 25px;
            }
        }
        .product-image {
            float: left;
            width: 25%;
            a {
                display: block;
                img {
                    margin: 0;
                    width: 100%;
                }
            }
        }
        .product-info {
            float: left;
            padding-left: 10px;
            text-align: left;
            width: 75%;
            ins {
                color: @primarycolor;
                display: block;
                font-size: 14px;
                font-weight: 400;
                line-height: 1;
            }
            del {
                color: @greycolor;
                font-size: 14px;
                font-weight: 500;
                text-decoration: line-through;
            }
        }
    }
    .blog-tabs {
        margin-bottom: 0;
    }
    .widget_jico_widgets {
        &.active {
            //display: block;
        }
        .widget-title {
            //display: none;
        }
        .widget_content {
            padding: 0 18px 5px;
        }
        ul {
            margin: 0; /* override */
            padding: 0; /* override */
            li {
                border-top: 1px solid @bordercolor;
                line-height: 1.35;
                list-style-type: none;
                margin: 15px 0 0;
                padding: 15px 0 0;
                &:first-child {
                    border: none;
                    margin: 0;
                    padding: 0;
                }
                a {
                    &:before {
                        display: none;
                    }
                }
                .post-wrapper {
                    margin: 0;
                    padding: 0;
                    width: 100%;
                    .clearfix();
                    .post-thumb {
                        float: left;
                        margin-right: 10px;
                        max-width: 40%;
                         img{
                            border-radius: 100%;
                         }   
                    }
                    .post-info {
                        overflow: hidden;
                        .post-title {
                            font-size: 1.077em;
                            font-weight: normal;
                            margin: 0 0 10px;
                            a {
                                color: @darkcolor;
                                &:hover {
                                    color: @primarycolor;
                                    padding-left: 0;
                                }
                            }
                        }
                        .post-date {
                            color: @greycolor;
                            font-family: @bodyfont;
                            font-size: .929em;
                        }
                        p {
                            margin: 5px 0;
                        }
                        & > a {
                            color: #999;
                            font-family: @bodyfont;
                            font-size: .8em;
                            &:hover {
                                color: @primarycolor;
                                padding-left: 0;
                            }
                        }
                    }
                }
            }
        }
    }
    .widget_recent_entries {
        ul {
            li {
                .post-date {
                    color: @greycolor;
                    float: left;
                    font-size: .929em;
                    line-height: 12px;
                    width: 100%;
                    &:before {
                        content: '\f073';
                        display: inline-block;
                        font-family: FontAwesome;
                        margin-right: 5px;
                    }
                }
            }
        }
    }
    .widget_calendar {
        table#wp-calendar {
            margin-bottom: 0;
            table-layout: fixed;
            text-align: center;
            width: 100%;
            td {
                padding-left: 5px;
                padding-right: 5px;
            }
            a {
                color: @primarycolor;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
    .widget_recent_comments {
        #recentcomments {
            list-style: none;
            margin-bottom: 0; /* override */
            padding: 0;
             > li {
                line-height: 1.4;
                margin-bottom: 12px;
                &:last-child {
                    margin-bottom: 0;
                }
                a {
                    color: @primarycolor;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
    //shop sidebar
    //blog sidebar
    select {
        background: #fff;
        border: 1px solid #e5e5e5;
        height: 40px;
        line-height: 40px;
        max-width: 100%;
        outline: none;
        padding: 0 15px;
        width: 100%;;
    }
}
#back-top {
    background: url('../images/back-top.png') no-repeat center center @darkcolor;
    border: 2px solid #ddd;
    border-radius: 100%;
    bottom: -38px;
    cursor: pointer;
    height: 50px;
    opacity: 0;
    position: fixed;
    right: 15px;
    visibility: hidden;
    width: 50px;
    z-index: 6999;
    .transition(.6s ease);
    &.show {
        bottom: 5%;
        opacity: 1;
        visibility: visible;
    }
    &:hover {
        background-color: @primarycolor;
        border-color: @primarycolor;
    }
}
.gm-style img {
    max-width: none;
}
.gm-style label {
    display: inline;
    width: auto;
}
.gm-style-iw,
.gm-style-iw > div {
    width: auto !important;
}
.popupshadow {
    background: #000;
    display: none;
    height: 100%;
    left: 0;
    opacity: .5;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000;
}
#_atssh {
    display: none;
}
#yith-wcwl-popup-message {
    display: none;
}
.woocommerce table.my_account_orders {
    th,
    td {
        border-bottom: none;
    }
}
.related-upsell-products{
	.heading-title.style1 h3{
		text-transform: capitalize;
	}
}
