/* Layouts */
/* PAGE LAYOUT
-----------------------------*/
.small-body .page-wrapper {
    min-height: 100vh;
    position: relative;
    .footer {
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
    }
}
.wrapper .page-wrapper {
    background-color: @pagecontentbg;
    .clearfix();
}
body {
    color: @textcolor;
    font-family: @bodyfont;
    font-size: @textsize;
    line-height: 1.8;
    .transition(.24s ease-in-out);
}
.heightzero {
    height: 0;
    overflow: hidden;
}
.wrapper {
    margin: 0 auto;
    position: relative;
    width: 100%;
    .row-container {
        display: block;
        margin: 0 auto;
        max-width: @rowcontainer;
        width: 100%;
        &:after {
            clear: both;
            content: '';
            display: block;
            height: 0;
            line-height: 0;
            visibility: hidden;
        }
    }
    // Box layout
    &.box-layout {
        overflow: hidden;
        .box-shadow(0px 0px 10px 0px rgba(0, 0, 0, .2));
        &:after {
            clear: both;
            content: '';
            display: block;
            height: 0;
            line-height: 0;
            visibility: hidden;
        }
    }
    &.box-body {
        .header-container {
            background: none;
        }
        .page-wrapper {
            padding-bottom: 70px;
        }
    }
}
.wrapper .vc_row.full-width,
.wrapper .vc_row[data-vc-full-width] {
    .row-container {
        margin-left: -15px;
        margin-right: -15px;
        max-width: none !important; // override 
        width: auto;
    }
    &.vc_row-no-padding {
        .row-container {
            margin-left: 0;
            margin-right: 0;
            padding-left: 0;
            padding-right: 0;
        }
    }
}
.wrapper .vc_row[class*='vc_column-gap'] {
    .vc_column-inner {
        padding-left: 0;
        padding-right: 0;
    }
}
.wrapper .vc_row[data-vc-full-width] {
    overflow: visible; /* override */
}
.wrapper {
    .vc_col-has-fill > .vc_column-inner,
    .vc_row-has-fill + .vc_row-full-width + .vc_row > .vc_column_container > .vc_column-inner,
    .vc_row-has-fill + .vc_row > .vc_column_container > .vc_column-inner,
    .vc_row-has-fill > .vc_column_container > .vc_column-inner {
        padding-top: 0;
    }
    .vc_column_container > .vc_column-inner {
        max-width: 100%;
        width: auto;
    }
}
.vc_row {
    margin-bottom: @rowspace - 35px;
}
.vc_row.fix-bottom-space {
    margin-bottom: @rowspace;
}
.wrapper .vc_row.vc_row-o-equal-height {
    align-items: center;
}
.wrapper .vc_row.vc_row-flex > .vc_column_container > .vc_column-inner {
    z-index: unset;
}
.align-left {
     > .vc_column-inner > .wpb_wrapper {
        float: left;
         > * {
            float: left;
        }
    }
    .vc_column-inner {
        justify-content: flex-end;
        flex-direction: row !important;
    }
}
.align-right {
     > .vc_column-inner > .wpb_wrapper {
        float: right;
         > * {
            float: left;
        }
    }
    .vc_column-inner {
        justify-content: flex-end;
        flex-direction: row !important;
    }
}
/* SHOP PAGE
-----------------------------*/
.shop-page {
    .main-container {
        padding-top: 0;
    }
}
.shop-banner {
    margin-bottom: 35px;
    position: relative;
    img {
        width: 100%;
    }
}
.term-description {
    margin-bottom: 35px;
}
.fullwidth .shop-banner {
    display: none;
}
/* PRODUCT PAGE
-----------------------------*/
.single-product {
    .product-banner {
        margin-bottom: 40px;
    }
}
/* INNER BRANDS
-----------------------------*/
.inner-brands {
    margin-bottom: 35px;
}
/* IMAGE HOVER 
-----------------------------*/
// Image hover effect (in main-container, not include header, footer -> logo, image payment)
.main-container .wpb_single_image {
     > .wpb_wrapper {
        max-width: 100%; // for responsive FF and IE
    }
}
.main-container {
    .wpb_single_image a,
    .image-hover-effect {
        .image-hover-effect();
    }
}
.page-template-demo2{
    .header-container .container{
        max-width: 100%;
        width: 100%;
    }
    .container{
        max-width: 1650px;
        padding-left:15px;
        padding-right:15px;
    }
    .header-sticky {
        .nav-container.container{
            max-width: 1650px;
        }
    }
    .header-container .horizontal-menu #primary > .menu_holder .menu_inner > ul > li > {
        a.item_link {
            .link_content{
                height: 30px;
                line-height: 30px;
                .link_text{
                    border-bottom:2px solid transparent;
                    border-radius: 0;
                    color: #fff;
                        &:hover{
                        border-bottom: 2px solid #fff;
                    }
                }
            }
        }
    }
    .header-container .horizontal-menu #primary > .menu_holder .menu_inner > ul > li.current-menu-ancestor > a.item_link .link_content .link_text{
        border-bottom:2px solid #fff;
    }
    .footer{
        border: none;
    }
}
.page-template-demo3{
    .container{
        max-width: 1650px;
        padding-left:15px;
        padding-right:15px;

    }
    .header-container{
        .container{
            max-width: 100%;
            width: 100%;
        }
    }
    .header-sticky {
        .nav-container.container{
            max-width: 1650px;
        }
    }
    .footer-2{
        border: none;
        padding: 10px 0;
    }
}
.footer.footer-2{
    .container{
        max-width: 1650px;
        padding-left:15px;
        padding-right:15px;

    }
}
.page-template-demo4{
    .container{
        max-width: 1790px;
        padding-left:15px;
        padding-right:15px;

    }
    .header-4{
        .container{
            max-width: 1790px;
            padding: 0;

        }
    }
    .header-sticky {
        .nav-container.container{
            max-width: 1760px !important;
        }
    }
    .header-container.rs-active, .header-composer{
        position:relative;
    }
    .footer-2{
        border: none;
        padding: 10px 0;
    }
    .slider-left{
        width: 78%;
    }
    .banner-right{
        width: 22%;
        .box-text-right{
            position: absolute;
            bottom: 20px;
            left: 50px;
            padding-right:15px;
            h4{
                font-size: 24px;
                margin: 0;
            }
            p{
                color: #333;
            }
        }
    }
}
/* ICON
-----------------------------*/
.wrapper i.icon {
    display: inline-block;
    height: auto;
    line-height: inherit;
    margin: 0;
    vertical-align: middle;
    width: auto;
}
/* Categories-home1
-----------------------------*/
.Categories-home1{
    .vc_row.wpb_row.vc_inner.vc_row-fluid.content{
        max-width: 1170px;
        margin: auto;
        .box-col1{
            .vc_column-inner{
                margin: 0 15px;
                h4{
                    font-weight: 500;
                    font-size: 20px;
                    color: #fff ;
                    margin: 0;
                }
                p{
                    color: #949494;
                    line-height: 22px;
                    margin-top: 17px;
                }
                a{  
                    color: #949494;
                    line-height: 38px;
                    width: 160px;
                    height: 40px;
                    display: inline-block;
                    text-align: center;
                    border: 2px solid #4e4e5a;
                    border-radius: 3px;
                    margin-top: 38px;
                    &:hover{
                        background: @primarycolor;
                        color: #fff;
                        border-color: @primarycolor;
                    }
                }
            }
        }
        .box-col{
            .vc_column-inner{
                padding-top: 30px;
                background: #2e2e3b;
                margin: 0 15px;
                border: 2px solid #2e2e3b;
                cursor: pointer;
                border-radius: 3px;
                a{
                    color: #949494;
                }
                &:hover{
                    border: 2px solid @primarycolor;
                    a {
                        color: @primarycolor
                    }
                }
            }
        }
    }
}
/* banner-sale
-----------------------------*/
.banner-sale{
    .banner-right1 {
        h2{
            font-weight: 500;
            font-size: 10.714em;
            color: @salecolor;
            line-height: 1;
            text-align: center;
        }
        h4{
            color: #242424;
            font-weight: 500;
            font-size: 2.571em;
        }
        p{
            max-width: 750px;
            margin: auto;
            color: #333333;
            font-size: 18px;
        }
        a{
            color: #333333; 
            display: inline-block;
            font-size: 16px;
            font-weight: 500;
            max-width: 220px;
            width: 100%;
            height: 60px;
            line-height: 60px;
            background: @primarycolor;
            text-transform: none;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;
            &:hover{
                background: @primarycolor;
                border-color: @primarycolor;
            }
        }
        .countdown.style1 {
            display: block;
            text-align: center;
            margin-bottom: 50px;
            .timebox{
                padding: 0 15px;
                margin-bottom: 20px;
                &:after{
                    display: none;
                }
                .timebox-inner{
                    background :#fff;
                    display: inline-block;
                    height: 90px;
                    width: 70px;
                    border: 2px solid @bordercolor;
                    border-radius: 3px;
                    strong{
                        position:relative;
                        display: block;
                        color: @darkcolor;
                        font-size: 18px;
                        vertical-align: middle;
                        padding: 13px 0;
                        font-weight: 500;
                        &:after{
                            content: "";
                            height: 5px;
                            width: 60px;
                            background: url(../images/line.jpg) no-repeat center center;
                            position:absolute;
                            bottom: 0;
                            left: 0;
                            right: 0;
                            margin: auto;
                        }
                    }
                    span {
                        color: #949494;
                        display: block;
                        font-size: 1em;
                        padding: 4px;
                        margin: 0;
                        text-transform: capitalize;
                    }
                }
            }
        }
    }
}
.banner-sale-home3{
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    >div{
        -webkit-box-align: stretch;
        -webkit-align-items: stretch;
        -ms-flex-align: stretch;
        align-items: stretch;
        float: none;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }
    .shop-products.grid-view .gridview{
        position:relative;
        .product-button{
            display: none;
        }
        .list-col4{
            width: 100%;
            padding: 0;
            margin: auto;
            float: none;
            .product-image img{
                width: 45%;
                &.secondary_image{
                    display: none;
                }
            }
            .count-down{
                .timebox{
                    background :#fff;
                    display: inline-block;
                    height: 90px;
                    min-width: 70px;
                    margin: 0 7px 20px 7px;
                    border: 2px solid @bordercolor;
                    border-radius: 3px;
                    strong{
                        position:relative;
                        display: block;
                        color: @darkcolor;
                        font-size: 18px;
                        vertical-align: middle;
                        padding: 5px 10px;
                        font-weight: 500;
                        &:after{
                            content: "";
                            height: 5px;
                            width: 60px;
                            background: url(../images/line.jpg) no-repeat center center;
                            position:absolute;
                            bottom: 0;
                            left: 0;
                            right: 0;
                            margin: auto;
                        }
                    }
                    span {
                        color: #949494;
                        display: block;
                        font-size: 1em;
                        padding: 6px;
                        text-transform: capitalize;
                    }
                }
            }
        }
        .list-col8{
            text-align: center;
            .product-name a {
                font-size: 24px;
                font-weight: 500;
            }
            .price-box{
                margin: auto;
            }
            .product-rating{
                display: none;
            }
        }
    }
}
// box-text
.box-text.box-text-home2{
    > div {
        padding : 0 70px;
    }
}
.box-text{
    > div {
        .vc_column-inner{
            padding: 0;
        }
    }
    .icon{
        font-size: 0;
        margin: 0;
        &:before{
            content: "\e84d";
            font-family: 'Linearicons-Free';
            display: block;
            font-size: 48px;
        }
        &.icon2{
            &:before{
                content: "\e862";
            }
        }
        &.icon3{
            &:before{
                content: "\e82b";
            }
        }
    }
    h4{
        font-size: 16px;
        font-weight: 500;
        margin: 0 0 10px;
    }
    &.box-text-home3{
        .icon{
            float: left;
            margin-right: 20px;
            line-height: 50px;
        }
        .icon.icon4{
            &:before{
                content: "\e845";
            }
        }
        .text-style{
            line-height: 19px;
        }
    }
}
.box-textbanner{
    max-width: 550px;
    width: 100%;
    padding: 125px 0;
    margin: auto;
    background:url(../images/bkg_img.jpg) no-repeat center center;
    h4{
        font-size: 2.5em;
        color: #333;
        position:relative;
        padding-bottom: 30px;
        margin-bottom: 30px;
        font-weight: normal;
        &:before{
            content: "";
            width: 80px;
            height: 3px;
            background:@primarycolor;
            position:absolute;
            bottom:0;
            left: 0;
            right: 0;
            margin: auto;
        }
    }
    p{
       color: #333;
    }
    h2{
        font-size: 10.71em;
        color: @primarycolor;
        font-weight: 500;
        line-height: 160px;
    }
}
/* SLIDER REVOLUTION
-----------------------------*/
.wrapper .wpb_revslider_element {
    margin-bottom: 0;
    .tp-caption {
        a {
            color: inherit;
            display: block;
            font-size: inherit !important;
            line-height: inherit !important;
            position: relative;
            &:hover {
                color: inherit;
            }
        }
        i {
            font-size: 16px;
            line-height: inherit !important;
            margin-left: 5px;
            vertical-align: top;
        }
    }
}
.jico.tp-bullets {
    width: auto !important;
    .tp-bullet {
        background: none;
        border: 2px solid transparent;
        display: inline-block;
        height: 16px;
        line-height: 14px;
        margin-right: 10px;
        position: static;
        text-align: center;
        vertical-align: top;
        width: 16px;
        .border-radius(100%);
        .transition();
        &:before {
            background: transparent;
            background: #b0b0b0;
            content: '';
            display: inline-block;
            height: 10px;
            width: 10px;
            .border-radius(100%);
        }
        &:last-child {
            margin: 0;
        }
        &:hover,
        &.selected {
            background: none;
            border: 2px solid @primarycolor;
            &:before {
                background: none;
            }
        }
    }
}
/* PRODUCT CAROUSEL
-----------------------------*/
.roadthemes-slider {
    .item-col {
        flex: 0 1 auto; /* override */
        max-width: 100%; /* override */
        padding-left: 0; /* override */
        padding-right: 0; /* override */
        width: 100%;
    }
}
.roadthemes-slider.roadthemes-products {
    position: relative;
    z-index: 121;
    /* for hover */
    .woocommerce {
        position: relative;
    }
    .owl-carousel,
    .owl-stage-outer {
        position: static;
    }
    /* end for hover */
    .woocommerce {
        max-width: 100%;
    }
    .shop-products {
        margin-left: 0; /* override */
        margin-right: 0; /* override */
        position: relative;
        .item-col {
            margin-bottom: 30px; /* override */
            padding-left: 0; /* override */
            padding-right: 0; /* override */
            width: 300px; // slider not load
            &:last-child {
                margin-bottom: 0;
            }
        }
        .owl-item {
            .item-col {
                width: 100%;
            }
            &:hover {
                position: relative;
                z-index: 9;
            }
            &.active{
                 &:last-child{
                    .item-col {
                        border:0;
                     }
                 }
            }
        }
        .group {
            display: block; /* override */
        }
        .owl-item.active {
            .item-col {
                .animation(zoomIn 500ms ease-in-out);
            }
            
        }
    }
}
.product-grid-2 {
    background: @white;
    .owl-carousel {
        margin-bottom: 0;
    }
    .shop-products .gridview {
        background: @productbg2;
        padding: 0 20px;
        .list-col8 {
            padding: 25px 0;
        }
        .product-buttons {
            .box-shadow(none);
        }
    }
    .owl-carousel .owl-nav {
        button.owl-prev {
            left: 0;
        }
        button.owl-next {
            right: 0;
        }
    }
}
/* PRODUCT LIST
-----------------------------*/
.product-list {
    background: @white;
    .shop-products {
        .group {
            width: 100%; /* override */
            .item-col {
                border: none;
                margin-bottom: 20px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
        .listview {
            display: block;
        }
        .gridview {
            display: none;
        }
        .row {
            margin-left: 0;
            margin-right: 0;
        }
        .list-col4 {
            float: left;
            width: 24%;
            max-width: 90px;
            .product-image{
                .quickviewbtn{
                    display: none;
                }
            }
        }
        .product-image {
            display: block;
        }
        .list-col8 {
            overflow: hidden;
            padding: 0 0 0 18px;
            zoom:1;
            .product-category,.product-des{
                display: none;
            }
            .product-category {
                margin: 0 0 8px 0;
            }
            .product-name {
                color: @darkcolor;
                font-family: @headingfont;
                font-weight:300;
                line-height: 1.4;
                margin:0;
                a{
                    font-size: 1em;
                    font-weight: normal;
                }
            }
            .product-rating-review{
                .product-review-count{
                    display: none;
                }
            }
            .price-box {
                font-size: @pricefontsize;
                margin: 0;
            }
            .product-rating-review {
                margin: 0 0 6px 0;
            }
        }
        .product-buttons,
        .product-desc,
        .onsale {
            display: none;
        }
    }
    &.roadthemes-slider.navigation-style2 .owl-nav {
        top: -66px;
    }
}
// carousel-with-menus
.carousel-with-menus{
    .vc_wp_custommenu{
        margin:0;
        position: absolute;
        right: 15px;
        top: 3px;
        padding-right: 100px;
        ul{
            margin: 0;
            padding:0;
            list-style:none;
            li{
                display: inline-block;
                font-size:1.2em;
                margin-right: 25px;
                a{
                    color:#666;
                    &:hover{
                         color:#000;
                    }
                }
                &:last-child{
                    margin: 0;
                }
                &:first-child{
                    a{
                        color:#000;
                    }
                }
            }
        }
    }
}

/* BRAND CAROUSEL
-----------------------------*/
.brands-carousel {
    background: @white;
    border: 1px solid @bordercolor;
    padding: 35px 20px;
    .border-radius();
    .owl-item {
        a {
            display: block;
            text-align: center;
            &:hover {
                img {
                    .opacity(1);
                }
            }
            img {
                display: inline-block;
                width: auto;
                .opacity(.3);
                .transition();
            }
        }
    }
}
/* HOME TABS GENERAL
-----------------------------*/
.wrapper {
    .main-container .vc_tta-container {
        margin-bottom: 0;
    }
}
.wrapper .main-container {
    .vc_tta-tabs.vc_tta-tabs-position-top {
        .vc_tta-tabs-container {
            display: inline-block !important;
            margin: 0 0 30px 0 !important;
           padding: 0 0 10px;
            position: relative !important;
            text-align: center;
            vertical-align: middle;
            width: 100%;
            z-index: 29 !important;
            .vc_tta-tabs-list {
                display: inline-block !important;
                margin: 0 !important;
                position: relative;
                vertical-align: middle;
                z-index: 20;
                li {
                    display: inline-block;
                    list-style-type: none;
                    margin: 0 40px 0 0 !important;
                    vertical-align: middle;
                    &:first-child {
                        &:before {
                            display: none !important;
                        }
                    }
                    &:last-child{
                        margin: 0 !important;
                    }
                    a {
                        background: none !important;
                        border: none !important;
                        border-radius: 0 !important;
                        color: @headingcolor;
                        display: inline-block !important;
                        font-family: @headingfont;
                        font-weight: 500;
                        font-size: 1.285em;
                        line-height: 1.5;
                        padding: 0 !important;
                        position: relative;
                        text-transform: capitalize;
                        .transition();
                        &:before,
                        &:after {
                            display: none !important; /* override */
                        }
                        strong {
                            font-weight: @headingfontweight;
                        }
                    }
                    &:hover,
                    &.vc_active {
                        a {
                            color: @primarycolor;
                        }
                    }
                }
            }
        }
        .vc_tta-panels-container {
            position: relative;
            z-index: 30;
            .vc_tta-panel-heading {
                display: none !important;
            }
            .vc_tta-panels {
                background: none !important;
                border: none !important;
            }
        }
        .vc_tta-panel {
            left: 0;
            position: absolute;
            top: 0;
            visibility: hidden;
            width: 100%;
            z-index: 1;
            .opacity(0);
            .transition();
            &.vc_active {
                position: relative;
                visibility: visible;
                z-index: 22;
                .opacity(1);
                .vc_tta-panel-body {
                    height: auto;
                    visibility: visible;
                    .opacity(1);
                }
            }
            .vc_tta-panel-body {
                background: none !important; /* override */
                border: none !important; /* override */
                display: block !important;
                height: 0;
                min-height: 0 !important; /* override */
                overflow: visible !important;
                padding: 0 !important;
                position: relative;
                -webkit-transition: none !important;
                   -moz-transition: none !important;
                    -ms-transition: none !important;
                     -o-transition: none !important;
                        transition: none !important;
                visibility: hidden;
                z-index: 11;
                .opacity(0);
            }
        }
        /* custom */
        .vc_tta-panel-body {
            .wpb_text_column {
                line-height: 1.75;
                margin-bottom: 42px;
                margin-left: auto;
                margin-right: auto;
                max-width: 640px;
                text-align: center;
            }
        }
    }
    .vc_tta-tabs.vc_tta-tabs-position-left {
        margin-left: -15px;
        margin-right: -15px;
        .vc_tta-tabs-container {
            margin: 0 0 20px 0 !important;
            padding: 0 15px;
            position: relative !important;
            text-align: left !important;
            vertical-align: middle;
            width: 25%;
            z-index: 29 !important;
            .vc_tta-tabs-list {
                background: @pagecontentbg;
                display: inline-block !important;
                margin: 0;
                padding: 0!important;
                li {
                    border-bottom: 1px solid #e3e3e3;
                    display: block;
                    list-style-type: none;
                    margin: 0;
                    text-align: center;
                    &:last-child {
                        border: none;
                    }
                    a {
                        background: #f0f0f0 !important;
                        border: none !important;
                        border-radius: 0 !important;
                        color: #292929 !important;
                        display: block !important;
                        font-family: @headingfont;
                        font-size: 1.077em;
                        font-weight: 500;
                        line-height: 1.5;
                        padding: 23px 25px !important;
                        position: relative;
                        text-transform: none;
                        .transition();
                        &:before,
                        &:after {
                            display: none !important; /* override */
                        }
                        strong {
                            font-weight: @headingfontweight;
                        }
                    }
                    &:hover,
                    &.vc_active {
                        a {
                            background: @primarycolor !important;
                            color: @white !important;
                        }
                    }
                }
            }
        }
        .vc_tta-panels-container {
            margin-top: -70px;
            padding-left: 15px;
            padding-right: 15px;
            .vc_tta-panel-heading {
                display: none !important;
            }
            .vc_tta-panels {
                background: none !important;
                border: none !important;
            }
        }
        .vc_tta-panel {
            left: 0;
            position: absolute;
            top: 0;
            visibility: hidden;
            width: 100%;
            z-index: 1;
            .opacity(0);
            .transition();
            &.vc_active {
                position: relative;
                visibility: visible;
                z-index: 22;
                .opacity(1);
                .vc_tta-panel-body {
                    height: auto;
                    visibility: visible;
                    .opacity(1);
                }
            }
            .vc_tta-panel-body {
                background: none !important; /* override */
                border: none !important; /* override */
                display: block !important;
                height: 0;
                min-height: 0 !important; /* override */
                overflow: visible !important;
                padding: 0 !important;
                position: relative;
                -webkit-transition: none !important;
                   -moz-transition: none !important;
                    -ms-transition: none !important;
                     -o-transition: none !important;
                        transition: none !important;
                visibility: hidden;
                z-index: 11;
                .opacity(0);
            }
        }
        /* custom */
        .vc_tta-panel-body {
            .wpb_text_column {
                line-height: 1.75;
                margin-bottom: 42px;
                margin-left: auto;
                margin-right: auto;
                max-width: 640px;
                text-align: center;
            }
        }
    }
}
.wrapper {
    .home-main {
        .vc_tta-container {
            margin-bottom: @rowspace;
        }
    }
}
/* ACCORDION
-----------------------------*/
.vc_tta-accordion {
    .vc_tta-panels-container {
        .vc_tta-panel {
            border-bottom: 1px solid @bordercolor;
            margin: 0 0 15px 0;
            &.vc_active {
                .vc_tta-panel-heading {
                    background: @primarycolor !important;
                    border-bottom: none;
                    border-color: @primarycolor !important;
                    outline: none;
                    a {
                        color: @white !important;
                    }
                    .vc_tta-controls-icon {
                        &:before {
                            content: '\f068';
                        }
                    }
                }
            }
            .vc_tta-panel-heading {
                background: #f2f2f2 !important;
                border: none !important;
                line-height: 1.5;
                margin: 0 !important;
                padding: 0;
                .vc_tta-panel-title {
                    font-size: 1.143em;
                }
                a {
                    color: @darkcolor !important;
                    font-weight: @headingfontweight;
                    line-height: 1.5;
                    padding: 15px 60px 15px 20px !important;
                }
                .vc_tta-controls-icon {
                    font-style: normal;
                    height: 21px;
                    left: auto !important;
                    line-height: 21px;
                    position: absolute;
                    right: 20px !important;
                    text-align: center;
                    width: 21px;
                    &:before {
                        border: none;
                        content: '\f067';
                        font-family: FontAwesome;
                        font-size: 14px;
                        position: static;
                        .transform(none);
                        .transition(none);
                    }
                    &:after {
                        display: none !important;
                    }
                }
            }
            .vc_tta-panel-body {
                background: @white !important;
                border: none;
                padding: 30px 20px;
                .transition(.4s ease-in-out);
            }
            h4 {
                font-family: @bodyfont;
                font-size: 1em;
                font-weight: normal;
            }
            h2,
            h3,
            h4,
            p {
                margin-bottom: 15px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}

/* BLOG CAROUSEL
-----------------------------*/
.posts-carousel {
    background: @white;
    position: relative;
    &.roadthemes-slider {
        .group {
            max-width: 100%;
            width: 500px;
        }
        .owl-item {
            .group {
                width: 100%;
            }
        }
    }
    &:not(.roadthemes-slider) {
        .group {
            .item-col {
                margin-bottom: 45px;
            }
            &:last-child {
                .item-col {
                    margin-bottom: 0;
                }
            }
        }
    }
    .post-wrapper {
        .clearfix();
    }
    .post-thumb {
        position: relative;
        width: 100%;
        a {
            .image-hover-effect();
        }
    }
    .post-info {
        padding: 20px 0 0;
        text-align: left;
    }
    .post-title {
        font-size: 1.142em;
        font-weight: 500;
        margin-bottom: 0;
        a {
            color: @darkcolor;
            &:hover {
                color: @linkhovercolor;
            }
        }
    }
    .post-meta {
        color: #abaaaa;
        display: block;
        font-size: 1em;
        margin-bottom: 0;
        .post-category{
            display: none;
        }
         > * {
            display: inline-block;
            margin: 0 10px 0 0;
            font-size: 13px;
        }
        .post-author{
            position:relative;
        }
        a {
            &:hover {
                text-decoration: underline;
            }
        }
        .post-date{
            .day{
                float: right;
                display: inline-block;
                vertical-align: middle;
                margin-left: 5px;
            }
            .month{
                padding-bottom: 8px;
                display: inline-block;
                font-size: 14px;
            }
        }
    }
    .post-excerpt {
        line-height: 1.9;
    }
    .readmore {
        background: @white;
        border: 1px solid @bordercolor;
        display: inline-block;
        font-size: 0.9em;
        height: 40px;
        line-height: 40px;
        margin-top: 15px;
        min-width: 117px;
        text-align: center;
        padding: 0 10px;
        color: @textcolor;
        vertical-align: middle;
        white-space: nowrap;
        text-transform: uppercase;
        border-radius:4px;
        .transition();
        display: none;
        &:hover {
            background: @primarycolor;
            border-color: @primarycolor;
            color: @white;
        }
    }
}
/* TESTIMONIAL
-----------------------------*/
.testimonials-wrapper.style1 {
    background: #f6f6f6;
    color: @textcolor;
    margin-bottom: 35px;
    padding: 48px 25px;
    width: 100%;
    .clearfix();
    .testimonials-list {
        margin-bottom: 0;
    }
    .quote {
        margin: auto;
        position: relative;
        text-align: center;
         > .avatar,
         > a.avatar-link {
            display: inline-block;
            height: 70px;
            overflow: hidden;
            vertical-align: middle;
            width: 70px;
            .border-radius(100%);
            img {
                display: inline-block;
            }
        }
    }
    .author {
        display: block;
        font-size: 1em;
        line-height: 1.5;
        position: relative;
        text-align: center;
        vertical-align: middle;
        .name,
        [itemprop='name'] {
            color: #292929;
            display: block;
            font-family: @headingfont;
            font-style: normal; /* override */
            text-transform: uppercase;
        }
        .title,
        [itemprop='jobTitle'] {
            color: #999;
            display: block;
            font-size: 1em;
            font-style: normal; /* override */
            font-weight: normal;
            margin: 10px 0 0 0;
        }
        [class*='url'] {
            a {
                color: #929292;
                font-size: 1em;
                &:hover {
                    color: @linkhovercolor;
                }
            }
        }
    }
    .testimonials-text {
        background: none; /* override */
        border: none; /* override */
        color: @textcolor;
        font-size: 1em;
        font-style: normal; /* override */
        line-height: 2.5; /* override */
        margin: 30px auto 30px auto;
        max-width: 900px;
        padding: 0; // override
        p {
            &:after {
                background: url(../images/quote-icon.png) left center no-repeat;
                content: '';
                display: block;
                height: 30px;
                margin: 20px auto 0 auto;
                width: 40px;
            }
        }
    }
    .owl-carousel .owl-dots {
        text-align: center;
    }
}
.testimonials-wrapper.style-about-page {
    border: 1px solid @bordercolor;
    padding: 32px 25px;
    width: 100%;
    .border-radius();
    .clearfix();
    .testimonials-list {
        margin-bottom: 0;
    }
    .quote {
        margin: auto;
        position: relative;
        text-align: center;
         > .avatar,
         > a.avatar-link {
            display: inline-block;
            height: 90px;
            margin-right: 10px;
            overflow: hidden;
            vertical-align: middle;
            width: 90px;
            .border-radius(100%);
            img {
                display: inline-block;
            }
        }
    }
    .author {
        display: inline-block;
        font-size: 1.071em;
        line-height: 1.5;
        position: relative;
        text-align: left;
        vertical-align: middle;
        .name,
        [itemprop='name'] {
            color: #222;
            display: block;
            font-family: @headingfont;
            font-style: normal; /* override */
            font-weight: @headingfontweight;
            text-transform: none;
        }
        .title,
        [itemprop='jobTitle'] {
            color: #999;
            display: block;
            font-size: .867em;
            font-style: normal; /* override */
            font-weight: normal;
            margin: 5px 0 0 0;
        }
        [class*='url'] {
            a {
                color: #999;
                font-size: .867em;
                &:hover {
                    color: @linkhovercolor;
                }
            }
        }
    }
    .testimonials-text {
        background: none; /* override */
        border: none; /* override */
        color: @textcolor;
        float: left;
        font-size: 1em;
        font-style: normal; /* override */
        margin: 30px 0 0 0;
        padding: 0; // override
        p {
            &:before {
                background: url(../images/quote-icon.png) left center no-repeat;
                content: '';
                display: block;
                height: 30px;
                margin: 0 auto 10px auto;
                width: 40px;
            }
        }
    }
    .owl-carousel .owl-dots {
        text-align: center;
    }
}
/* SOCIAL ICON
-----------------------------*/
.roadthemes-social-icon.style1 {
    .social-icons {
        margin: 0; /* override */
        padding: 0; /* override */
        li {
            display: inline-block;
            margin: 0 22px 0 0;
            position: relative;
            vertical-align: middle;
            &:last-child {
                margin-right: 0;
            }
            a {
                color: @topbarcolor;
                display: block;
                font-size: 14px;
                height: 40px;
                line-height: 40px;
                &:hover {
                    color: @topbarlinkhovercolor;
                }
            }
        }
    }
}
.roadthemes-social-icon.style2 {
    .clearfix();
    .social-title {
        margin: 0 0 20px 0;
        h3 {
            font-size: 1.077em;
            font-weight: 600;
        }
    }
    .social-icons {
        margin: 0; /* override */
        padding: 0; /* override */
        text-align: right;
        li {
            display: inline-block;
            margin: 0 15px 5px 0;
            position: relative;
            vertical-align: middle;
            &:last-child {
                margin-right: 0;
            }
            a {
                color: #b2b2b2;
                background: none;
                border: 2px solid @bordercolor;
                display: block;
                font-size: 18px;
                height: 40px;
                line-height: 40px;
                text-align: center;
                width: 40px;
                -webkit-border-radius: 100%;
                -moz-border-radius: 100%;
                border-radius: 100%;
                &:hover {
                    background: @primarycolor;
                    border-color: @primarycolor;
                    color: @white;
                }
            }
        }
    }
}
/* IMAGE SLIDER
-----------------------------*/
.image-slider {
    background: @white;
    margin: 0 0 35px 0;
    padding: 32px 15px;
    .image {
        a {
            border: 5px solid #ddd;
            display: block;
            height: 121px;
            line-height: 111px;
            margin: auto;
            max-width: 100%;
            overflow: hidden;
            text-align: center;
            text-align: center;
            width: 121px;
            .border-radius(100%);
            &:hover {
                border-color: @primarycolor;
            }
            img {
                display: inline-block;
                width: auto;
            }
        }
    }
    .title {
        margin-top: 8px;
        text-align: center;
        h3 {
            font-size: .933em;
            font-weight: normal;
            margin: 0;
        }
        a {
            color: @textcolor;
            &:hover {
                color: @linkhovercolor;
            }
        }
    }
}
/* COUNTDOWN
-----------------------------*/
.countdown {
    .timebox {
        display: inline-block;
        padding: 0 27px;
        position: relative;
        text-align: center;
        vertical-align: middle;
        &:after {
            content: ':';
            display: block;
            font-size: 30px;
            position: absolute;
            right: 0;
            top: 50%;
            z-index: 9;
            .transform(translateY(-50%));
        }
        &:last-child:after {
            display: none;
        }
        strong {
            color: @primarycolor;
            display: block;
            font-size: 2.857em;
            font-weight: 500;
            line-height: 1;
            min-width: 60px;
        }
        span {
            display: block;
            font-size: 1em;
            margin-top: 7px;
            text-transform: uppercase;
        }
    }
}
/* NEWSLETTER
-----------------------------*/
.roadthemes-newsletter.style1 {
    .newsletter-text {
        margin-bottom: 35px;
        text-align: center;
        .newsletter-title {
            h3{
                font-size: 4.28em;
                font-weight: 300;
                line-height: 1;
                text-transform: uppercase;
                margin: 0 0 20px;
                strong{
                    display: block;
                    text-transform: capitalize;
                }
            }
        }
    }
}
/* newsletter */
.mc4wp-form {
    display: inline-block;
    margin:0;
    max-width: 100%;
    .mc4wp-form-fields {
        background: transparent;
        display: inline-block;
        max-width: 100%;
        position: relative;
        vertical-align: middle;
        .clearfix();
    }
    input {
        box-shadow: none;
        outline: none;
    }
    input[type='email'] {
        background: none;// override
        border: none; // override
        border-bottom: 2px solid @bordercolor;
        color: #999;
        display: block;
        float: left;
        font-size: 1em;
        height: 55px;
        line-height: 55px;
        max-width: 100%;
        padding: 0;
        margin-right: 25px;
        padding-right: 20px;
        text-align: left;
        white-space: nowrap;
        width: 415px;
        .border-radius(0);
        // style placeholder color and hide when click
        /*WebKit browsers*/
        &::-webkit-input-placeholder {
            color:  #999;
            opacity: 1;
        }
        &:focus::-webkit-input-placeholder {
            color: transparent;
        }
        /* Mozilla Firefox 4 to 18 */
        &:-moz-placeholder {
            color:  #999;
            opacity: 1;
        }
        &:focus:-moz-placeholder {
            color: transparent;
        }
        /* Mozilla Firefox 19+ */
        &::-moz-placeholder {
            color:  #999;
        }
        &:focus::-moz-placeholder {
            color: transparent;
        }
        /* Internet Explorer 10+ */
        &:-ms-input-placeholder {
            color:  #999;
        }
        &:focus:-ms-input-placeholder {
            color: transparent;
        }
    }
    button[type='submit'] {
        background: #252531;
        border: none;
        box-shadow: none;
        color: @white;
        cursor: pointer;
        float: left;
        font-size: 16px;
        font-weight: 500;
        height: 55px;
        line-height: 55px;
        margin: 0;
        outline: none;
        padding: 0 55px;
        text-align: center;
        .transition();
        .border-radius(3px);
        &:hover{
            background: @primarycolor;
            color: #333;
        }
    }
    .mc4wp-alert {
        margin-top: 15px;
    }
}
.newsletter-container {
    line-height: 1.75;
    margin-bottom: 80px;
    padding: 0;
    text-align: center;
    .wpb_text_column {
        margin: 0;
        h5 {
            color: @white;
            font-size: 1.714em;
            font-weight: 300;
            line-height: 1;
            margin: 0;
            text-transform: uppercase;
        }
        h3 {
            color: #333;
            font-size: 30px;
            line-height: 1;
            font-weight: 500;
            text-align: left;
            margin: 0;
            text-transform: capitalize;
        }
        p {
            text-align: left;
            margin-bottom: 5px;
            margin-right: auto;
            max-width: 645px;
        }
    }
}
.newsletter-container02{
    text-align: center;
    border-bottom: 2px solid @bordercolor;
    margin: 0;
    .wpb_text_column{
        h4{
            color: #2c2c37;
            font-size: 24px;
            font-weight: 500;
        }
        p{
            margin: 0;
        }
    }
    .mc4wp-form .mc4wp-form-fields{
        border:2px solid @bordercolor;
        border-radius: 3px;
        margin-top: 20px;
        background: transparent;
        display: inline-block;
        max-width: 100%;
        position: relative;
        vertical-align: middle;
        input[type='email']{
            border:none;
            padding: 0 25px;
            margin: 0;
        }
        button[type='submit']{
            background:none;
            color: #2c2c37;
            text-transform: uppercase;
            font-size: 13px;
            position:relative;
            &:after{
                content:" ";
                height:30px;
                width: 2px;
                background:@bordercolor;
                position:absolute;
                left: 0;
                top: 13px;
            }
        }
    }
}
/* COUNTER
-----------------------------*/
.roadthemes-counter {
    text-align: center;
    .counter-number {
        color: @primarycolor;
        display: block;
        font-size: 2.857em;
        font-weight: 500;
        line-height: 1;
        min-width: 60px;
    }
    .counter-text {
        display: block;
        font-size: 1em;
        margin-top: 7px;
        text-transform: uppercase;
    }
}
/* CUSTOM MENU
-----------------------------*/
.roadthemes-menu.style1 {
    margin-bottom: 35px;
    .menu-image {
        margin: 0 0 15px 0;
    }
    .menu-title {
        h3 {
            font-size: 1.143em;
        }
    }
    .menu-content {
        margin: 0 0 15px 0;
        ul {
            list-style: none;
            margin: 0; /* override */
            padding: 0; /* override */
            li {
                display: block;
                line-height: 1.25;
                margin: 0 0 10px 0;
                &:last-child {
                    margin: 0;
                }
            }
            a {
                color: @textcolor;
                display: block;
                &:hover {
                    color: @linkhovercolor;
                    padding-left: 5px;
                }
            }
        }
    }
    .menu-text {
        margin: 20px 0;
    }
    .menu-link {
        color: @darkcolor;
        font-weight: @headingfontweight;
        margin-top: 15px;
        a {
            color: @darkcolor;
            &:hover {
                color: @linkhovercolor;
            }
        }
    }
}
/* POLICY
-----------------------------*/
.roadthemes-policy.style1 {
    margin-bottom: 25px;
    text-align: center;
    .policy-icon {
        margin: 0 0 15px 0;
        img{
            max-width: 40px;
        }
    }
    .policy-title {
        h3 {
            font-size: 1em;
            margin: 0 0 5px 0;
            text-transform: uppercase;
        }
    }
}
/* INSTAGRAM FEED
-----------------------------*/
.instagram{
    .sb_instagram_header{
        display: none;
    }
    #sb_instagram #sbi_load .sbi_load_btn{
        display: none !important;
    }
    #sb_instagram .sbi_follow_btn a{
        background:@primarycolor;
        color: #333333;
        padding: 10px 15px;
        &:hover{
            box-shadow:none;
        }
    }
    #sb_instagram #sbi_load .sbi_follow_btn{
        position:absolute;
        left: 0;
        right: 0;
        top: 40%;
    }
    #sbi_load{
        padding: 0 !important;
    }
}
/* ROTATING TWITTER
-----------------------------*/
.rotatingtweets {
    .rotatingtweet {
        background: #f8f8f8;
        border: 1px solid @bordercolor;
        line-height: 1.171;
        margin-bottom: 65px;
        padding: 25px 20px;
        position: relative;
        .border-radius(7px);
        p {
            margin-bottom: 0;
        }
        .rtw_main {
            font-family: @bodyfont;
            position: relative;
            &:before {
                color: @primarycolor;
                content: '\f099';
                display: inline-block;
                font-family: 'FontAwesome';
                font-size: 20px;
                margin-right: 10px;
                position: relative;
                top: -3px;
                vertical-align: top;
            }
            a {
                color: @primarycolor;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
        .rtw_media {
            margin: 10px 0;
        }
        .rtw_meta {
            font-size: .85em;
            margin-top: 10px;
        }
    }
    .rtw_follow {
        margin-top: 5px;
    }
}
/* STATIC WIDGET
-----------------------------*/
.roadthemes-static-1.style1 {
    position: relative;
    .static-image {
        margin: 0;
        img {
            width: 100%;
        }
    }
    .static-title {
        h5 {
            font-size: 1.285em;
            line-height: 1;
            font-weight: 500;
            margin: 0 0 5px 0;
            text-transform: capitalize;
            color:@darkcolor;
            strong {
                display: block;
                font-size: 1.333em;
                font-weight: 500;
                margin-top: 3px;
            }
        }
    }
    .static-content {
        left: 40px;
        right: auto;
        position: absolute;
        bottom: 10px;
        z-index: 9;
        .transform(translate(00, -50%));
        text-align: left;
    }
    .static-text {
        font-size: 2em;
        font-weight: 500;
        margin: 0 0 5px 0;
        text-transform: uppercase;
        color:#fff;
    }
    .static-link {
        a {
            color: #808080;
            display: inline-block;
            &:hover {
                text-decoration: underline;
                color: @primarycolor;
            }
        }
    }
}
.roadthemes-static-1.style2 {
    position: relative;
    .static-image {
        margin: 0;
        img {
            width: 100%;
        }
    }
    
    .static-content {
        left: 20%;
        position: absolute;
        top: 30%;
        z-index: 9;
        .transform(translate(-20%, -30%));
        text-align: center;
        width: 100%;
        max-width: 1200px;
    }
    .static-text {
        margin: 0;
        h2{
            font-size: 6.4em;
            line-height: 1;
            text-transform: uppercase;
            color:#fff;
            font-weight: 600;
        }
        h3 {
            font-size: 3.5713em;
            line-height:1;
            color:#fff;
            font-weight: 500;
            text-transform: uppercase;
        }
        h5{
            text-transform: uppercase;
        }
        h4{
            font-weight: 300;
            color: #fff;
            font-size: 2.42em;
        }
    }
    .static-title {
        h5 {
            font-size: 1.42em;
            text-transform: uppercase;
            letter-spacing: 3px;
            color: #fff;
        }
    }
    .static-link {
        margin-top: 35px;
        a {
            font-weight: 500;
            font-size: 1em;
            display: inline-block;
            padding: 17px;
            text-transform: uppercase;
            min-width: 170px;
            letter-spacing: 0;
            background: #fff;
            border-radius: 5px;
            margin: auto;
            &:hover {
                background: @primarycolor;
                color: #fff;
            }
        }
    }
}

.wrapper .vc_row.vc_column-gap-20 {
    margin-left: -10px;
    margin-right: -10px;
}
.roadthemes-static-2.style1 {
    &.has-link {
        .roadthemes-static-inner:hover {
            .static-image img {
                .transform(scale(1.02));
            }
        }
    }
    .static-link {
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 9;
    }
    .static-image {
        margin: 0;
        overflow: hidden;
        img {
            width: 100%;
            .transition();
        }
    }
    .static-content {
        left: 50%;
        position: absolute;
        top: 50%;
        z-index: 9;
        .transform(translate(-50%, -50%));
        text-align: center;
        width: 100%;
        h5{
            color: #fff;
            font-weight: 300;
            font-size: 2.42rem;
        }
    }
    .static-text {
        margin: 0;
        h3 {
            font-size: 5.713rem;
            line-height: 1.1;
            color:#fff000;
            font-weight: 500;
        }
        h5{
            text-transform: uppercase;
        }
    }
}

.roadthemes-static-2.style2 {
    position: relative;
    &.has-link {
        &:hover {
            a {
                .linlho;
            }
        }
    }
    &.has-link {
        .roadthemes-static-inner:hover {
            .static-image img {
                .transform(scale(1.02));
            }
        }
    }
    .static-link {
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 9;
    }
    .static-image {
        margin: 0;
        overflow: hidden;
        img {
            width: 100%;
            .transition();
        }
    }
    .static-content {
        font-size: 1em;
        left: 40px;
        pointer-events: none;
        position: absolute;
        top: 40px;
        z-index: 9;
    }
    .static-title {
        h5 {
            font-size: 2.4rem;
            font-weight: 300;
            margin: 0 0 5px 0;
            color:#fff;
            strong {
                display: block;
                font-size: 1.5em;
                font-weight: 600;
                margin-top: 3px;
            }
        }
    }
    .static-text{
        h3{
            color: @primarycolor;
            font-size: 3.28rem;
            font-weight: 400;
            line-height: 1;
        }
        h4{
            color: #fff;
            text-transform: uppercase;
            margin: 0;
            line-height: 1;
            font-size: 3rem;
        }
    }
}
.roadthemes-static-2.style3 {
    position: relative;
    &.has-link {
        &:hover {
            a {
                .linlho;
            }
        }
    }
    &.has-link {
        .roadthemes-static-inner:hover {
            .static-image img {
                .transform(scale(1.02));
            }
        }
    }
    .static-link {
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 9;
    }
    .static-image {
        margin: 0;
        overflow: hidden;
        img {
            width: 100%;
            .transition();
        }
    }
    .static-content {
        right:40px;
        position: absolute;
        top: 50%;
        z-index: 9;
        .transform(translate(0, -50%));
        text-align: right;
    }
    .static-title {
        h5 {
            font-size: 2.4rem;
            font-weight: 300;
            margin: 0 0 5px 0;
            color:#fff;
            text-transform: capitalize;
            strong {
                display: block;
                font-size: 1.5em;
                font-weight: 600;
                margin-top: 3px;
            }
        }
    }
    .static-text{
        h3{
            color: #fff;
            font-size: 3.28rem;
            font-weight: 400;
            line-height: 1;
        }
        h4{
            color: #fff;
            text-transform: uppercase;
            margin: 0;
            line-height: 1;
            font-size: 2.5rem;
        }
    }
}
// banner-text
.banner-text{
    .wpb_text_column{
        p.text{
            color:#0084c5;
            text-transform: uppercase;
            letter-spacing: 3px;
            font-weight: 500;
            margin-bottom: 25px;
            position: relative;
            padding-left: 70px;
            &:before{
                content: " ";
                height: 2px;
                width: 60px;
                background: #0084c5;
                position: absolute;
                left: 0;
                top: 39%;
            }
        }
        h3{
            color: #fff;
            line-height: 1;
            font-weight: 300;
            font-size: 8.5em;
            margin: 0;
            strong{
                font-weight: 500;
                line-height: 1;
            }
        }
        a.buttom{
            display: inline-block;
            min-width: 170px;
            padding: 17px 10px;
            background:@primarycolor;
            border-radius: 3px;
            text-align: center;
            margin-top: 40px;
            font-size: 14px;
            font-weight: 500;
            text-transform: uppercase;
            color: #fff;
            &:hover{
                background: darken(@primarycolor, 10%);
            }
        }
    }
    &.style2{
         .wpb_text_column{
            h3{
                font-size: 7em;
            }
         }
    }
}
@media (min-width: 1199px){
    .banner-text.style2{
        .wpb_text_column{
            float: right;
            width: 50%;
        }
    }
    .newsletter-style{
        .roadthemes-newsletter.style1{
            float: right;
            width: 50%;
        }
    }
}
// .vc_images_carousel
body{
    .vc_images_carousel{
        &:hover{
            .vc_carousel-control{
                opacity: 1;
                visibility: visible;
            } 
        }
        .vc_carousel-control{
            opacity: 0;
            visibility: hidden;
            text-shadow: none;
            .icon-prev{
                &:before{
                    content: '\f3d2';
                    font-family: 'Ionicons';
                }
            }
            .icon-next{
                &:before{
                    content: '\f3d3';
                    font-family: 'Ionicons';
                }
            }
        }
    }
}
// deals-home4
.deals-home4{
    .vc_column-inner{
        > .wpb_wrapper{
            border: 2px solid @primarycolor;
            border-radius: 5px 5px 0 0;
            background: #fff;
        }
    }
    .product-grid-countdown{
        .shop-products{
            .item-col{
                .list-col4{
                    float: none;
                    padding:0;
                    margin: 0;
                    width: auto;
                }
                .list-col8{
                    text-align: center;
                    .product-desc{
                        display: none;
                    }
                    .count-down{
                        margin: 0;
                    }
                    .product-name{
                        margin-bottom: 5px;
                    }
                }
            }
        }
    }
    .roadthemes-slider.sale_products{
        .owl-carousel{
            .owl-dots{
                position:static;
                margin: 20px 0 0px;
            }
        }
    }
}
// hot-category 
.hot-category{
    .widget_nav_menu{
        padding-bottom:30px;
        border-bottom:1px solid @bordercolor;
        text-align: center;
        .widgettitle{
            font-size: 1.28em;
            text-transform: uppercase;
        }
        .menu{
            margin: 0;
            list-style: none;
            padding:0;
            li{
                a{
                    font-size: 1.14em;
                    font-weight: 300;
                    text-transform: capitalize;
                }
            }
        }
    }
}