.visible-large {
    display: block;
}
.visible-small {
    display: none;
}
@media screen and (max-width: 1899px ) and ( min-width: 1400px ) {
    .container {
        padding: 0 60px;
    }
}
@media screen and ( max-width: 1599px ) {
    .shop-products .gridview .count-down .timebox {
        margin: 0 2px 0 0;
        width: 52px;
        &:last-child {
            margin-right: 0;
        }
    }
}
@media screen and (max-width: 1499px) {
    .header-container.header-2 .header-composer .vc_row {
        padding-left: 15px;
        padding-right: 15px;
    }
    .box-text.box-text-home2{
        > div {
            padding : 0 30px;
        }
    }
}
@media screen and ( min-width: 1599px ){
    #archive-product .shop-products.list-view .listview {
        .list-col4 {
                flex: 0 0 40%;
            max-width: 40%;

            -ms-flex: 0 0 40%;
        } 
        .list-col8 {
                flex: 0 0 60%; 
            max-width: 60%;

            -ms-flex: 0 0 60%;
        }
    }
}
@media screen and ( min-width: 1400px ) {
    .container {
        max-width: 1140px;
        padding-right: 15px;
        padding-left: 15px;
    }
    .main-container {
        #secondary {
                flex: 0 0 25%;
            max-width: 25%;

            -ms-flex: 0 0 25%;
        }
        .main-column {
                flex: 0 0 75%;
            max-width: 75%;

            -ms-flex: 0 0 75%;
        }
    }
    .header-container {
        .header-search-container {
            width: 58.33333333%;
        }
        .header-icon {
            width: 25%;
        }
    }
}
@media screen and ( max-width: 1599px ) and ( min-width: 992px ) {
    #archive-product .shop-products.grid-view.fullwidth .shop-products-inner .item-col {
            flex: 0 0 25%;
        max-width: 25%;

        -ms-flex: 0 0 25%;
    }
    #archive-product .shop-products.list-view .listview {
        .list-col4 {
                flex: 0 0 45%;
            max-width: 45%;

            -ms-flex: 0 0 45%;
        }
        .list-col8 {
                flex: 0 0 55%;
            max-width: 55%;

            -ms-flex: 0 0 55%;
        }
    }
    #secondary .product_list_widget .product-info a {
        font-size: .86em;
    }
    .main-container {
        .banner,
        .banner-nogap {
            .wpb_text_column h3 {
                font-size: 2.5em;
            }
        }
    }
}
@media screen and ( max-width: 1399px ) and ( min-width: 1200px ){
    .header-container .header-search .search-without-dropdown .searchform .ws{
        width: 120px;
    }
}
@media screen and (max-width: 1300px) {
    .header-container .horizontal-menu > .mega_main_menu > .menu_holder .menu_inner > ul > li {
        margin: 0 30px 0 0;
    }
}
@media screen and ( max-width: 1199px ) {
    .main-container.about-page .about-text {
        padding: 0 30px;
    }
    /* header */
    .header-container {
        .header-main {
            padding: 20px 0;
        }
        .header-default{
            .container{
                max-width:100%;
                width: 100%;
            }
            .horizontal-menu .primary-menu-container ul.nav-menu > li{
                margin: 0 20px 0 0;
                a{
                    font-size: 13px;
                }
            }
        }
    }
    .header-container.rs-active, .header-composer{
        position: relative !important;
        background:#252531 !important;
        .header-inner > div{
			display: block;
			vertical-align: middle;
			float: none;
			width: 100%;
			margin: 20px auto;
			text-align: center;
        }
    }
    .header-container.header-3{
        background: none !important;
    }
    .page-template-demo3, .page-template-demo4 .header-container.rs-active, .header-composer{
    	background: none !important;
    }
    // Newsletter
    .mc4wp-form input[type=email]{
    	margin-bottom: 20px;
    }
    /* footer */
    /* page */
    .wrapper .vc_tta-tabs.vc_tta-tabs-position-left .vc_tta-tabs-container {
        width: 30%;
    }
    .wrapper .main-container .vc_tta-tabs.vc_tta-tabs-position-left .vc_tta-tabs-container .vc_tta-tabs-list li a {
        font-size: 1em;
    }
    .roadthemes-static-1.style1 {
        .static-link {
            margin-top: 5px;
        }
    }
    .heading-title.style3 h3 {
        font-size: 1.2em;
    }
    .roadthemes-static-1.style2 {
        .static-content{
            transform: translate(-20%,-50%);
        }
        .static-link {
            margin-top: 5px;
            a{
                padding: 8px;
                min-width: 120px;
            }
        }
        .static-text{
            h2{
                font-size: 4.4em;
            }
        }
    }
    .roadthemes-products.product-grid-2 .shop-products .gridview .add-to-cart {
        margin: 0 15px 0 0;
    }
    .heading-title.style1{
        h3{
			margin-top: 0;
        }
    }
    .shop-products .item-col .product-wrapper{
        .actions li{
            margin: 0 1px;
        }
    }
    .categories-menu-wrapper{
        .categories-menu{
            .catemenu-toggler{
                font-size: 12px;
                padding: 0 10px;
                span{
                    &:before{
                        font-size: 15px;
                        margin-right: 10px;
                    }
                }
            }
        }
    }
    .heading-title-home3 .style1{
        text-align: center;
    }
    .heading-title-home3 p{
        text-align: center;
    }
    // blog
    .main-container.has-image .title-breadcumbs{
        margin-bottom: 60px;
    }   
}
@media screen and (max-width: 991px) {
    .container{
        max-width: 100%;
    }
    .yith_magnifier_mousetrap {
        display: none;
    }
    .visible-large {
        display: none;
    }
    .visible-small {
        display: block;
    }    
    .main-container {
        max-width: 100%;
        overflow: hidden;
    }
    .header-container .header-sticky {
        display: none !important;
    }
    .header-container {
        .header-composer {
            display: none;
        }
		.header-default {
			padding: 0;
			.header-desktop {
				display: none;
			}
		}
        .header-mobile {
            display: block;
            padding: 10px 0;
            .widget_nav_menu{
                .widgettitle{
                    width: 40px;
                    height: 40px;
                    line-height: 40px;
                }
            }
        }
    }
    #secondary {
        .product_list_widget li {
            float: left;
            padding-right: 15px;
            width: 50%;
            &:nth-child(2n+1) {
                clear: both;
            }
        }
    }
    .page-wrapper{
        .title-breadcumbs{
            padding: 100px 0;
            .entry-title{
                font-size: 4em;
            }
        }
    }
    .main-container.about-page .about-text {
        padding: 0 15px;
    }
    .contact-page {
        .contact-form {
            margin-top: 30px;
        }
    }
    .main-container.error404 {
        .search-form-wrapper {
            padding: 80px 0;
            h1 {
                font-size: 100px;
                line-height: 100px;
            }
            h2 {
                font-size: 20px;
            }
            p {
                font-size: 16px;
            }
            .form-input {
                width: 300px;
            }
            a.button {
                margin-top: 40px;
            }
        }
    }
    /* header */
    .header-container {
        &.header-1.rs-active {
            position: static;
        }
        .header-default {
			.box-right {
				text-align: right;
			}
            h1.logo {
                display: block;
                height: auto; 
            }
            .header-search {
				float: none; 
				padding: 0;
				text-align: center; 
				margin: auto;
				display: inline-block;
				vertical-align: middle;
            }
            .mobile-menu{
				display: inline-block;
				vertical-align: middle;
                .mbmenu-toggler{
                    text-align: right; 
                    padding: 0;
                    color: #fff;
                }
                .mobile-menu-container{
                    width: 300px;
                }
            }
        }
    }
    // slider-group
	.page-template-demo4 {
		.slider-left{
			width: 100%;
			margin-bottom: 30px;
		}
		.banner-right{
			width: 100%;
		}
	}

    // banner-sale
    .banner-sale.banner-sale-home3 .vc_row.wpb_row.vc_inner.vc_row-fluid.content-sale > div{
		display: block;
		margin-bottom: 20px;
		&.banner-right1 {
			padding: 100px 0;
		}
    }
    .banner-sale .banner-right1 h2{
    	font-size: 8em;
    }
    /* footer */
    .footer {
        .footer-main {
            .wpb_column:nth-child(2n+1) {
                clear: both;
            }
        }
        .footer01 > div{
			display: block;
			vertical-align: middle;
			width: 100%;
			text-align: center;
			margin: 20px 0;
			.social-icons{
				text-align: center;
			}
        }
        .vc_custom_1551673961523{
            margin-bottom: 0 !important;
        }
    }
    /* page */
    .roadthemes-policy.style1 .policy-title {
        margin-bottom: 15px;
    }
    .main-container.has-image {
        .title-breadcumbs .title-breadcumbs-text {
            margin: 0;
        }
        .shop-banner img {
            min-height: 200px;
        }
        .shop_content {
            margin: 0;
        }
        .product-page {
            margin: 0;
        }
    }
    .owl-carousel{
        .owl-nav{
            button.owl-prev{
                left: 0;
            }
            button.owl-next{
                right: 0;
            }
        }
    }
    .product-grid-countdown .shop-products .item-col .list-col4{
        padding:0;
    }
    .banner-text.style2,.banner-text{
        .wpb_text_column{
            h3{
                font-size: 5em;
            }
        }
    }
    .roadthemes-static-2.style2{
        .static-text{
            h4{
                font-size: 2rem;
            }
        }
    }
    .roadthemes-static-2.style1{
        .static-text{
            h3{
                font-size: 3.913rem;
            }
        }
    }
    .heading-title.style3{
        overflow: hidden;
        .heading-title-inner{
            h3{
                display: block;
                margin-right: 0;
             }
             p{
                display: block;
                margin: 1rem;
             }
        }
        
    }
    .roadthemes-static-2.style2{
        .static-content{
            top: 20px;
        }
        .static-text{
            h3{
                color: #fff;
                font-size: 2.6rem;
            }
        }
    }
    .roadthemes-static-2.style3 {
        .static-text{
            h3{
              font-size: 2.6rem;  
            }
        }
    }
    .carousel-with-menus{
        .heading-title.style1{
            margin: 0 0 10px;
        }
        .vc_wp_custommenu{
            position:static;
            padding:0;
            margin: 0 0 35px;
            ul{
                li{
                    font-size: 1rem;
                    margin-right: 5px;
                 }
            } 
        }
    }
    .roadthemes-newsletter.style1{
        font-size: 90%;
        .newsletter-text{
            .newsletter-title{
                h3{
                    font-size: 3.28em;
                }
            }
        }
    }
    
    .sale-style{
        padding-top: 30px;
        overflow: hidden;
    }
    .shop-page.has-image .title-breadcumbs{
        margin-bottom: 30px;
    }
    .page-template-demo4 .banner-right .box-text-right{
        left: 0;
        padding-right: 15px;
        right: 0;
        padding-left: 15px;
        text-align: center;
    }
    body{
        .vc_custom_1551778200155{
            margin-left: 30px;
        }
        .vc_custom_1551752788457{
            margin-bottom: 50px !important;
        }
        .vc_custom_1551255086229{
            margin-bottom: 30px !important;
        }
        .vc_custom_1551241352524{
             margin-bottom: 50px !important;
         }
         .vc_custom_1551255171495{
             margin-bottom: 30px !important;
         }
         .vc_custom_1551255415367{
             margin-bottom: 30px !important;
         }
         .vc_custom_1552552716716{
         	margin-bottom: 70px !important;
         }
         .vc_custom_1552553432990{
         	margin-left: 15px !important;
         	margin-bottom: 30px !important;
         }
         .vc_custom_1552553441046{
         	margin-right: 15px !important;
     	    overflow: hidden;
     	    padding-bottom: 20px;
         }
         .newsletter-container{
            margin-bottom: 40px;
         }
         .vc_custom_1551752788457{
            padding-top: 50px !important;
            padding-bottom: 40px !important;
         }
         .vc_custom_1551775243972{
             margin-bottom: 40px !important;
         }
         .vc_custom_1551259689642{
            margin-bottom: 50px !important;
            padding-top: 35px !important;
            padding-bottom: 35px !important;
         }
         .vc_custom_1551262666576{
            margin-bottom: 30px !important;
         }
         .vc_custom_1551262463056{
            margin-bottom: 50px !important;
         }
         .vc_custom_1551262299184{
             padding-bottom: 30px !important;
         }
         .vc_custom_1551433429928{
            margin-bottom: 50px !important;
         }
         .vc_custom_1551433488369{
            margin-bottom: 30px !important;
         }
         .vc_custom_1551433543900{
            margin-bottom: 50px !important;
         }
         .vc_custom_1551433566891{
            margin-bottom: 30px !important;
         }
         .vc_custom_1551433607427{
             margin-bottom: 50px !important;
         }
         .vc_custom_1551433637550 {
            margin-bottom: 30px !important;
        }
        .vc_custom_1551448932326{
            margin-bottom: 30px !important;
        }
        .vc_custom_1552551864918{
            margin-left: 15px;
        }
        .vc_custom_1552551856582{
            margin-right: 15px;
            overflow: hidden;
            margin-top: 30px;
        }
    }
}
@media screen and (min-width: 768px) {
    .main-container .blogs.blog-sidebar article .post-thumbnail .su-responsive-media-yes {
        padding-bottom: 82%;
    }
    .main-container .blogs.blog-nosidebar article .post-thumbnail .su-responsive-media-yes {
        padding-bottom: 82%;
    }
}
@media screen and (max-width: 767px) {
    @rowspace767: 50px;
    .vc_row {
        margin-bottom: @rowspace767 - 35px;
    }
    .vc_row.fix-bottom-space {
        margin-bottom: @rowspace767;
    }
    .container {
        max-width: none;
        width: 100%;
    }
    .wrapper {
        .row-container {
            padding-left: 15px;
            padding-right: 15px;
            width: 100%;
        }
    }
    .vc_row {
        margin-left: 0;
        margin-right: 0;
    }
    /* toolbar */
    .toolbar {
        .view-mode,
        .woocommerce-result-count,
        .woocommerce-ordering {
            margin: 0 0 15px 0;
            width: 100%;
        }
        .woocommerce-ordering {
            margin: 0;
        }
    }
    .shop-products.owl-carousel .item-col {
        width: 100%;
    }
    /* blog page */
    .main-container {
        .blog-page {
            .post-thumbnail-wrapper {
                width: 100%;
            }
            .postinfo-wrapper {
                margin-top: 0;
                width: 100%;
            }
        }
        .blogs.blog-sidebar,
        .blogs.blog-nosidebar {
            .post-thumbnail-wrapper {
                margin: 0 0 30px 0;
                max-width: 100%;
                padding: 0;
                width: 100%;
            }
            .postinfo-wrapper {
                margin-top: 0;
                width: 100%;
            }
        }
        .blogs.grid .post-container {
            column-count: 1;
        }
    }
    .main-container .comments-area .comment-respond .comment-form {
        .comment-form-author,
        .comment-form-email,
        .comment-form-url {
            width: 100%;
        }
    }
    // about-page
    .about-page .about-what-we-do .wpb_text_column{
        text-align: center;
    }
    /* shop page */
    #archive-product {
        .shop-products .listview {
            .product-image {
                display: inline-block;
                margin-bottom: 20px;
                .woocommerce-LoopProduct-link,
                img {
                    width: auto;
                }
            }
        }
    }
    .quickview-wrapper #quickview-content {
        .product-images {
            float: none;
            margin-bottom: 35px;
            width: 100%;
            .main-image img {
                width: auto;
            }
        }
        .product-info {
            float: none;
            padding: 0;
            width: 100%;
        }
    }
    .woocommerce-page {
        table.cart {
            border: none;
            tr {
                border: 1px solid @bordercolor;
                margin-bottom: 30px;
                td {
                    border-right: none;
                }
                 > td:first-child {
                    border-top: none;
                }
            }
            .product-thumbnail {
                display: block;
                &:before {
                    display: none;
                }
            }
            .table-bottom {
                border: none;
                td {
                    padding: 0;
                }
            }
        }
    }
    /* header */
    /* footer */
    .footer {
        .footer-copyright {
        	.social-icons{
        		text-align: center;
        		margin-top: 20px;
        	}
        }
        .widgettitle{
        	margin-bottom: 20px;
        }
        .vc_row.wpb_row.vc_row-fluid >div{
			width: 100%;
			text-align: center;
    	}
    	.col3{
    		h2{
    			text-align: center !important;
    		}
    		p{
				text-align: center !important;
				margin: auto;
				float: none;
    		}
    		.mc4wp-form{
    			float: none;
    			.mc4wp-form-fields{
	    			input[type='email']{
	    				text-align: center;
	    				margin-top: 0;
	    			}
	    			button[type='submit']{
	    				float: none;
	    			}
    			}
    		}
    	}
    }

    // newsletter
    .newsletter-container02 .mc4wp-form input[type='email']{
	    width: 350px;
    }
    /* page */
    .wrapper .main-container .vc_tta-tabs.vc_tta-tabs-position-left {
        display: block;
        .vc_tta-tabs-container {
            display: block;
            width: 100%;
            .vc_tta-tabs-list {
                text-align: center;
                width: 100%;
                li {
                    border-right: 1px solid @bordercolor;
                    display: inline-block;
                    margin: 0 5px 5px 0;
                    &:last-child {
                        border-bottom: 1px solid @bordercolor;
                    }
                }
            }
        }
        .vc_tta-panels-container {
            margin: 0;
        }
    }
    .main-container.has-image {
        .shop-banner img {
            min-height: 150px;
        }
    }
    .roadthemes-static-2.style1 {
        text-align: center;
    }
    #archive-product .shop-products.list-view .listview {
        .list-col8 {
            padding: 10px;
        }
        .product-category {
            margin: 0 0 10px 0;
        }
        .product-name {
            margin: 0 0 10px 0;
        }
        .price-box {
            margin: 0 0 15px 0;
        }
        .product-desc {
            padding-top: 15px;
        }
    }
    .main-container .product-view div.product-content-wrapper .woocommerce-tabs ul.tabs li {
        margin: 0 0 5px 0 !important;
        text-align: center;
        width: 100%;
    }
    .wrapper .main-container .vc_tta-tabs.vc_tta-tabs-position-top .vc_tta-tabs-container .vc_tta-tabs-list li{
        margin: 0 20px 0 0 !important;
        a{
            font-size: 1em;
        }
    }

}
@media screen and (max-width: 639px) {
    /* checkout page, shopping cart */
    .shop_table.cart {
        .coupon {
            #coupon_code {
                margin: 0 0 20px 0;
                width: 100%;
            }
            .button {
                float: none !important;
                margin: 0;
                width: auto !important;
            }
        }
    }
    .woocommerce ul.order_details li {
        border: none;
        margin: 0 0 15px 0;
        padding: 0;
        width: 100%;
    }
    .main-container .order-box {
        padding: 30px 15px 15px 15px;
    }
    /* shop */
    #secondary .product_list_widget li {
        width: 100%;
    }
    /* blog page */
    .main-container .blog-page .comments-area .commentlist li.comment article.comment .comment-info {
        time,
        cite,
        .reply {
            display: block;
            float: none;
            margin: 15px 0 0 0;
            position: static;
            width: 100%;
            &:first-child {
                margin-top: 0;
            }
        }
    }
    .main-container blockquote {
        margin-left: 20px;
    }
    /* header */
    .header-container {
        .header-default {
            .header-search .search-without-dropdown .searchform .ws {
                width: 350px;
            }
        }
    }
    /* footer */
    // newsletter
    .newsletter-container02 .mc4wp-form .mc4wp-form-fields{
		border: none;
		margin: 0;
		input[type='email']{
			border: 2px solid @bordercolor;
			margin-bottom: 20px;
			float: none;
		}
		button[type='submit'] {
			border: 2px solid @bordercolor;
			float: none;
			&:after{
				display: none;
			}
		}
    }
    /* page */
    .product-grid-2 .shop-products .gridview {
        padding: 0 10px;
    }
    .roadthemes-social-icon.style1 .social-icons li a {
        height: 32px;
        line-height: 32px;
        width: 32px;
    }
    .owl-carousel .owl-dots .owl-dot{
        display: none;
    }
    .roadthemes-static-1.style2{
        .static-text,.static-title {
            > *{
                margin: 0 0 0.1em;
            }
        }
        .static-link{
            a{
                background:none;
                font-size:12px;
                padding:0;
                min-width: auto;
                color: #fff;
                &:hover{
                    background:none;
                    color: @primarycolor;
                }
            }
        }
    }
    // banner-sale
    .banner-sale .banner-right1 h2{
    	font-size: 6em;
    }
    body{
    	.vc_custom_1549080387088{
			padding-top: 80px !important;
			padding-bottom: 80px !important;
   		}
        .heading-title-home3 .wpb_text_column{
            margin-bottom: 70px;
        }
    }
    
}
@media screen and (max-width:550px) {
    .header-container .header-icon .vc_column-inner > .wpb_wrapper > div:not(:last-child){
            margin-right: 5px;   
    }
    .product-grid-countdown{
        .shop-products{
            .item-col{
                .list-col4{
                    float: none;
                    width: 100%;
                    padding:0;
                    margin: 0;
                }
            }
        }
    }
}
@media screen and (max-width: 479px) {
    @rowspace479: 45px;
    .vc_row {
        margin-bottom: @rowspace479 - 35px;
    }
    .vc_row.fix-bottom-space {
        margin-bottom: @rowspace479;
    }
    [class*='vc_col-'] {
        width: 100% !important;
    }
    .header-container .widget_shopping_cart_content .mini_cart_content .mini_cart_inner {
        width: 300px;
    }
    /* shop page only */
    .toolbar {
        .view-mode,
        .woocommerce-result-count {
            width: 100%;
        }
    }
    .main-container .product-view .product .woocommerce-tabs ul.tabs li {
        margin: 0 0 20px 0;
        text-align: center;
        width: 100%;
        a {
            display: inline-block;
        }
    }
    #secondary {
        .product_list_widget li {
            width: 100%;
        }
    }
    .main-container .product-view .summary.single-product-info .product_meta {
        .sku_wrapper,
        .posted_in,
        .tagged_as {
            display: block;
            margin: 0 0 10px 0;
        }
    }
    .shop-products .listview .list-col8 .product-button .add-to-cart .add_to_cart_inline a{
       min-width: 130px;
       padding: 0 15px;
    }
    // blog
    .page-wrapper .entry-header .entry-title{
        font-size: 3em;
        margin: 0;
    }
    // one item
    .shop_content .shop-products .item-col {
        flex: 0 1 auto;
        max-width: 100%;
        width: 100%;
    }
    .woocommerce form {
        .form-row-first,
        .form-row-last {
            float: none;
            width: 100%;
        }
    }
    .mobile-menu{
        .mobile-menu-container{
            left: 50%;
            margin-left:70px;
            right: auto;
            transform: translateX(-50%);
        }
    }
    /* header */
    .header-container {
        .widget_shopping_cart_content .mini_cart_content {
            left: 50%;
            margin-left: -30px;
            right: auto;
            .transform(translateX(-50%));
        }
        .header-search .search-dropdown {
            .searchform {
                left: 50%;
                margin-left: 30px;
                right: auto;
                .transform(translateX(-50%));
                .ws {
                    width: 240px;
                }
            }
            &.style2 {
                .searchform {
                    margin-left: 50px;
                }
            }
        }
        .header-mobile {
            .logo.style1 {
                text-align: center;
            }
            .header-icon {
                text-align: center;
            }
        }
        .header-default {
            .header-search .search-without-dropdown .searchform .ws {
                width: 200px;
            }
            .mobile-menu{
                .mobile-menu-container{
                    margin-left: 0;
                }
            }
        }
    }
    .banner-sale-home3 .shop-products.grid-view .gridview .list-col4 .product-image img{
    	width: 50%;
    }
}
